# Django
SECRET_KEY="hc^8_h+n9%1e_a7m4a1fe^l!%kw0&@0$k8k)b(d7pyl+jd55w%"
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.localhost

# Database (default SQLite - no vars needed)
# For PostgreSQL:
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=your_db
# DB_USER=your_user
# DB_PASSWORD=your_password
# DB_HOST=localhost
# DB_PORT=5432
