{% load static %}
<!-- Start of header section
	============================================= -->
<header id="it-header" class="it-header-area header-style-one">
	<div class="header-top clearfix ">
		<div class="header-top-left float-left ul-li">
			<ul>
				<li><i class="far fa-envelope"></i>codecraften@gmail.com</li>
				<li><i class="fas fa-phone"></i>9725705554</li>
				<li><i class="fas fa-map-marker-alt"></i>14/A, Brown City, NYC</li>
			</ul>
		</div>
		<div class="header-top-right float-right">
			<div class="header-social ul-li">
				<ul>
					<li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
					<li><a href="#"><i class="fab fa-behance"></i></a></li>
					<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
					<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				</ul>
			</div>
			<div class="header-top-cta">
				<a href="#">Terms &amp; Conditions</a>
				<a href="#">Job Alert</a>
			</div>
			<div class="header-top-cta">
				<select>
					<option>Language</option>
					<option>ENG</option>
					<option>ARB</option>
					<option>SPN</option>
				</select>
			</div>
		</div>
	</div>
	<!-- /header Top -->
	<div class="header-main-menu clearfix">
		<div class="brand-logo float-left">
			<a href="{% url 'api:index_1' %}">
				<img src="{% static 'user/img/logo/New_logo-removebg-preview (1).png' %}" alt="CodeCraften">
			</a>
		</div>
		<div class="it-menu-itemlist float-right">
			<nav class="main-navigation ul-li">
				<ul>
					<li><a href="{% url 'api:index_1' %}">Home</a></li>
					<li><a href="{% url 'api:about' %}">About</a></li>
					<li><a href="{% url 'api:service_list' %}">Services</a></li>
					<li><a href="{% url 'api:case_list' %}">Portfolio</a></li>
					<li><a href="{% url 'api:contact' %}">Contact</a></li>
				</ul>
			</nav>
			<div class="header-main-option">
				<div class="header-phone">
					<i class="fas fa-phone"></i>
					<a href="tel:+19725705554">+1 (972) 570-5554</a>
				</div>
			</div>
		</div>
		<div class="mobile_menu relative-position">
			<div class="mobile_menu_wrap">
				<div class="mobile_menu_overlay"></div>
				<div class="mobile_menu_content">
					<div class="m-brand-logo text-center">
						<img src="{% static 'user/img/logo/f-logo2.png' %}" alt="CodeCraften">
					</div>
					<div class="mobile-search-area">
						<form action="#">
							<input type="text" name="search" placeholder="Search Here...">
							<div class="search-sub-btn">
								<button type="button"><i class="fas fa-search"></i></button>
							</div>
						</form>
					</div>
					<nav class="main-navigation mobile_menu-dropdown  clearfix ul-li">
						<ul id="main-nav" class="navbar-nav text-capitalize clearfix">
							<li><a href="{% url 'api:index_1' %}">Home</a></li>
							<li><a href="{% url 'api:about' %}">About</a></li>
							<li><a href="{% url 'api:service_list' %}">Services</a></li>
							<li><a href="{% url 'api:case_list' %}">Portfolio</a></li>
							<li><a href="{% url 'api:contact' %}">Contact</a></li>
						</ul>
					</nav>
					<div class="mobile-menu-contact-info ul-li-block">
						<ul>
							<li><i class="far fa-envelope"></i>codecraften@gmail.com</li>
							<li><i class="fas fa-phone"></i>+1 (972) 570-5554</li>
							<li><i class="fas fa-map-marker-alt"></i>14/A, Brown City, NYC</li>
						</ul>
					</div>
				</div>
			</div>
			<button type="button" class="mobile_menu_button" aria-label="Open menu">
				<i class="fas fa-bars" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</header>
<!-- End of header section
	============================================= -->

