{% extends 'user_site/base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block content %}


<!-- Start of breadcurmb section
	============================================= -->
	<section id="breadcurmb" class="breadcurmb-section position-relative" data-background="{% static 'user/img/banner/brbg.jpg' %}">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="breadcurmb-content headline-2">
				<h2>About us</h2>
				<div class="breadcrumb_item ul-li">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'api:index_1' %}">Home</a></li>
						<li class="breadcrumb-item active">About Us</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- End of breadcurmb section
	============================================= -->

<!-- Start of About page about section
	============================================= -->
	<section id="about-page-about" class="about-page-about-section">
		<div class="container">
			<div class="about-content-1">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="about-img relative-position wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="about-main-img">
								<img src="{% static 'user/img/about/ab1.jpg' %}" alt="About CodeCraften">
							</div>
							<div class="about-circle-img-1">
								<img src="{% static 'user/img/about/ab2.jpg' %}" alt="About CodeCraften">
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="about-text-item-1">
							<div class="section-title title-style-two headline-2">
								<span class="site-tag">About US</span>
								<h2>Stay Up Running
								Stay Protected</h2>
								<h3 class="sub-text">Our vertical solutions expertise allows your business
								to streamline workflow.</h3>
							</div>

							<div class="about-author">
								<div class="author-img float-left">
									<img src="{% static 'user/img/logo/New.png' %}" alt="Founder">
								</div>
								<div class="about-author-text headline-2">
									<h4>Mirandox X. Xioni</h4>
									<span>Founder, ITSource Co.</span>
								</div>
							</div>
							<div class="about-text pera-content">
								<p>Our vertical solutions expertise allows your business to streamline
									workflow, and increase productivity. No matter the business, pure as
								has you covered with industry compliant solutions.</p>
							</div>
							<div class="ab-btn-single text-center">
								<a href="#">Learn About Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of About page about section
	============================================= -->

<!-- Start of About page Gallery
	============================================= -->
	<section id="about-gallery" class="about-gallery-section">
		<div class="container">
			<div class="about-gallery-content position-relative">
				<div class="row">
					<div class="col-md-6">
						<div class="about-gallery-img wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="{% static 'user/img/banner/b1.png' %}" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="about-gallery-img wow fadeInDown" data-wow-delay="300ms" data-wow-duration="1500ms">
							<img src="{% static 'user/img/banner/mockup.png' %}" alt="">
						</div>
						<div class="about-gallery-img wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
							<img src="{% static 'user/img/banner/d1.jpg' %}" alt="">
						</div>
					</div>
				</div>
				<div class="about-exp-badge headline-2 wow " data-wow-delay="0ms" data-wow-duration="1000ms">
					<div class="exp-text text-center">
						<h4>25<span>+</span></h4> <span>years experience</span>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- Start of About page Gallery
	============================================= -->

<!-- Start of Core platform section
	============================================= -->
	<section id="core-platform" class="core-platform-section position-relative">
		<div class="container">
			<div class="platform-content">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="platform-text">
							<div class="section-title title-style-two headline-2">
								<span class="site-tag">Core Platform</span>
								<h2>What  Actually
								Use  Framework.</h2>
								<h3 class="sub-text">Our vertical solutions expertise allows your business
								to streamline workflow.</h3>
							</div>
							<div class="core-platform-item ul-li">
								<ul>
									<li>
										<i class="fab fa-wordpress"></i>
										<span>Wordpress</span>
									</li>
									<li>
										<i class="fab fa-css3"></i>
										<span>CSS3</span>
									</li>
									<li>
										<i class="fab fa-php"></i>
										<span>PHP</span>
									</li>
									<li>
										<i class="fab fa-java"></i>
										<span>Java</span>
									</li>
									<li>
										<i class="fab fa-apple"></i>
										<span>IOS</span>
									</li>
									<li>
										<i class="fab fa-microsoft"></i>
										<span>Microsoft</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="platform-img wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="{% static 'user/img/banner/ms1.jpg' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of Core platform section
	============================================= -->

<!-- Start of about team section
	============================================= -->
	<section id="team-1" class="team-section-one about-team">
		<div class="container">
			<div class="team-area-content">
				<div class="section-title title-style-two headline-2 text-center">
					<span class="site-tag">Experts</span>
					<h2>Our Leaderships</h2>
				</div>
				<div class="team-member-1 relative-position">
					<div class="team-member-imgtext">
						<div class="team-img">
							<img src="{% static 'user/img/team/tm1.jpg' %}" alt="">
						</div>
						<div class="team-text headline-2 ul-li">
							<span class="t-degi">Founder</span>
							<h3>Rosalina D.
							William</h3>
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
								<li><a href="#"><i class="fab fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="team-member-imgtext">
						<div class="team-img">
							<img src="{% static 'user/img/blog/b1.jpg' %}" alt="Team Member">
						</div>
						<div class="team-text headline-2 ul-li">
							<span class="t-degi">CEO</span>
							<h3>Miradaba H.
							Halim</h3>
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="team-member-imgtext">
						<div class="team-img">
							<img src="{% static 'user/img/blog/b2.jpg' %}" alt="Team Member">
						</div>
						<div class="team-text headline-2 ul-li">
							<span class="t-degi">Designer</span>
							<h3>Yellow Daddy
							Yanke</h3>
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
								<li><a href="#"><i class="fab fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="team-member-imgtext">
						<div class="team-img">
							<img src="{% static 'user/img/blog/b3.jpg' %}" alt="Team Member">
						</div>
						<div class="team-text headline-2 ul-li">
							<span class="t-degi">Developer</span>
							<h3>Piranma H.
							Hilixer</h3>
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
								<li><a href="#"><i class="fab fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="team-member-imgtext">
						<div class="team-img">
							<img src="{% static 'user/img/blog/b4.jpg' %}" alt="Team Member">
						</div>
						<div class="team-text headline-2 ul-li">
							<span class="t-degi">Marketer</span>
							<h3>Maronda M.
							Makuram</h3>
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
								<li><a href="#"><i class="fab fa-behance"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="circle-shape circle-shape1"><img src="{% static 'user/img/banner/n-icon.png' %}" alt=""></div>
					<div class="circle-shape circle-shape2"><img src="{% static 'user/img/logo/f-logo.png' %}" alt=""></div>
				</div>
			</div>
		</div>
	</section>
<!-- End of  about team section
	============================================= -->								

<!-- Start of Mission visson section
	============================================= -->
	<section id="mission-vission" class="mission-vission-section">
		<div class="container">
			<div class="mission-vission-content position-relative">
				<div class="mission-content position-relative" data-background="{% static 'user/img/banner/ms1.jpg' %}">
					<div class="background_overlay"></div>
					<div class="mission-vission-text headline-2 pera-content">
						<span>Our Mission</span>
						<h3>We Have An
						IT Departments</h3>
						<p>No matter the business, pure as has you cover
						with industry compliant solutions.</p>
						<a href="#">Contact Us Now</a>
					</div>
				</div>
				<div class="vission-content position-relative">
					<div class="mission-vission-text headline-2 pera-content">
						<span>Our Mission</span>
						<h3>Your Partner for
						Software</h3>
						<p>No matter the business, pure as has you cover
						with industry compliant solutions.</p>
						<a href="#">Our Work</a>
					</div>
				</div>
				<div class="mission-vission-iconbg">
					<i class="flaticon-hosting"></i>
				</div>
			</div>
		</div>
	</section>
<!-- End of Mission visson section
	============================================= -->

<!-- Start of Blog section
	============================================= -->
	<section id="blog-2" class="blog-section-2 about-page-blog">
		<div class="container">
			<div class="blog-content-2">
				<div class="row">
					<div class="col-lg-4">
						<div class="blog-img-text relative-position">
							<div class="blog-img">
								<img src="{% static 'user/img/blog/bgb1.jpg' %}" alt="">
							</div>
							<div class="blog-text headline-2 pera-content relative-position">
								<span class="blog-tag"><a href="#">Solution</a></span>
								<h3><a href="#">Prevent data loss
								encrypted storage.</a></h3>
								<p>Data loss with encrypted storage &amp;
									virtualized recovery, then enjoy your
								core level productivity.</p>
								<div class="blog-meta">
									<a href="#"><i class="far fa-user"></i> by Admin</a>
									<a href="#"><i class="far fa-calendar-alt"></i> 24th March 2020</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="blog-img-text relative-position">
							<div class="blog-img">
								<img src="{% static 'user/img/blog/bgb1.jpg' %}" alt="">
							</div>
							<div class="blog-text headline-2 pera-content relative-position">
								<span class="blog-tag"><a href="#">Solution</a></span>
								<h3><a href="#">Prevent data loss
								encrypted storage.</a></h3>
								<p>Data loss with encrypted storage &amp;
									virtualized recovery, then enjoy your
								core level productivity.</p>
								<div class="blog-meta">
									<a href="#"><i class="far fa-user"></i> by Admin</a>
									<a href="#"><i class="far fa-calendar-alt"></i> 24th March 2020</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="blog-img-text relative-position">
							<div class="blog-img">
								<img src="{% static 'user/img/blog/bgb1.jpg' %}" alt="">
							</div>
							<div class="blog-text headline-2 pera-content relative-position">
								<span class="blog-tag"><a href="#">Solution</a></span>
								<h3><a href="#">Prevent data loss
								encrypted storage.</a></h3>
								<p>Data loss with encrypted storage &amp;
									virtualized recovery, then enjoy your
								core level productivity.</p>
								<div class="blog-meta">
									<a href="#"><i class="far fa-user"></i> by Admin</a>
									<a href="#"><i class="far fa-calendar-alt"></i> 24th March 2020</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of Blog section
	============================================= -->


{% endblock %}
{% block extra_js %}
	<script src="{% static 'user/js/jquery.min.js' %}"></script>
	<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'user/js/popper.min.js' %}"></script>
	<script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'user/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'user/js/appear.js' %}"></script>
	<script src="{% static 'user/js/wow.min.js' %}"></script>
	<script src="{% static 'user/js/parallax-scroll.js' %}"></script>
	<script src="{% static 'user/js/circle-progress.js' %}"></script>
	<script src="{% static 'user/js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/jquery.easeScroll.min.js' %}"></script>
	<script src="{% static 'user/js/typer-new.js' %}"></script>
	<script src="{% static 'user/js/script.js' %}"></script>
	<script src="{% static 'user/js/gmap3.min.js' %}"></script>
{% endblock %}
