{% extends 'user_site/base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block content %}


<!-- Start of breadcurmb section
	============================================= -->
	<section id="breadcurmb" class="breadcurmb-section position-relative" data-background="{% static 'user/img/banner/brbg.jpg' %}">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="breadcurmb-content headline-2">
				<h2>News Feeds</h2>
				<div class="breadcrumb_item ul-li">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'api:index_1' %}">Home</a></li>
						<li class="breadcrumb-item active"> News</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- End of breadcurmb section
	============================================= -->

<!-- Start of blog feed section
	============================================= -->
	<section id="blog_feed" class="blog_feed_section">
		<div class="container">
			<div class="news_feed_section">
				<div class="row">
					<div class="col-lg-8 col-md-12">
						<div class="news_post">
							<div class="news_post_item">
								<div class="news_img">
									<img src="{% static 'user/img/blog/nb1.html' %}" alt="">
								</div>
								<div class="news_text_area headline-2-2 pera-content">
									<span class="post_cat"><a href="#">Business</a></span>
									<h3><a href="#">Innovative Technology Solutions
									cing elit, sed do eiusmod tempor.</a></h3>
									<div class="blog_meta ul-li">
										<ul>
											<li><i class="fas fa-eye"></i> 232 Views</li>
											<li><i class="fas fa-comments"></i> 35 Comments</li>
											<li><i class="fas fa-calendar-alt"></i> 24th March 2019</li>
										</ul>
									</div>
									<p>Our team of experts delivers tailored solutions to help your business thrive in the digital age. We focus on scalable, secure, and innovative technology to drive your success. Duis aute irure dolor in
									reprehenderit in voluptate velit esse cillum dolore.</p>
									<div class="author_meta">
										<div class="author_img float-left">
											<img src="{% static 'user/img/blog/bpa1.html' %}" alt="">
											<span>by Hetmayar</span>
										</div>
										<div class="news_more float-right">
											<a href="#">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<!-- /post item -->
							<div class="news_post_item">
								<div class="news_img  position-relative">
									<img src="{% static 'user/img/blog/nb2.html' %}" alt="">
									<div class="video_play_btn text-center">
										<a class="block-display video_box" href="https://www.youtube.com/watch?v=3eDQgM73CQM">
											<i class="fas fa-play"></i>
										</a>
									</div>
								</div>
								<div class="news_text_area headline-2-2 pera-content">
									<span class="post_cat"><a href="#">Business</a></span>
									<h3><a href="#">Innovative Technology Solutions
									cing elit, sed do eiusmod tempor.</a></h3>
									<div class="blog_meta ul-li">
										<ul>
											<li><i class="fas fa-eye"></i> 232 Views</li>
											<li><i class="fas fa-comments"></i> 35 Comments</li>
											<li><i class="fas fa-calendar-alt"></i> 24th March 2019</li>
										</ul>
									</div>
									<p>Our team of experts delivers tailored solutions to help your business thrive in the digital age. We focus on scalable, secure, and innovative technology to drive your success. Duis aute irure dolor in
									reprehenderit in voluptate velit esse cillum dolore.</p>
									<div class="author_meta">
										<div class="author_img float-left">
											<img src="{% static 'user/img/blog/bpa1.html' %}" alt="">
											<span>by Hetmayar</span>
										</div>
										<div class="news_more float-right">
											<a href="#">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<!-- /post item -->
							<div class="news_post_item">
								<div id="blod_slide" class="news_img">
									<img src="{% static 'user/img/blog/nb1.html' %}" alt="">
									<img src="{% static 'user/img/blog/nb2.html' %}" alt="">
									<img src="{% static 'user/img/blog/nb3.html' %}" alt="">
								</div>
								<div class="news_text_area headline-2-2 pera-content">
									<span class="post_cat"><a href="#">Business</a></span>
									<h3><a href="#">Innovative Technology Solutions
									cing elit, sed do eiusmod tempor.</a></h3>
									<div class="blog_meta ul-li">
										<ul>
											<li><i class="fas fa-eye"></i> 232 Views</li>
											<li><i class="fas fa-comments"></i> 35 Comments</li>
											<li><i class="fas fa-calendar-alt"></i> 24th March 2019</li>
										</ul>
									</div>
									<p>Our team of experts delivers tailored solutions to help your business thrive in the digital age. We focus on scalable, secure, and innovative technology to drive your success. Duis aute irure dolor in
									reprehenderit in voluptate velit esse cillum dolore.</p>
									<div class="author_meta">
										<div class="author_img float-left">
											<img src="{% static 'user/img/blog/bpa1.html' %}" alt="">
											<span>by Hetmayar</span>
										</div>
										<div class="news_more float-right">
											<a href="#">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<!-- /post item -->
							<div class="news_post_item">
								<div class="news_img">
									<iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/users/1539950/favorites" width="100%" height="100"></iframe>
								</div>
								<div class="news_text_area headline-2-2 pera-content">
									<span class="post_cat"><a href="#">Business</a></span>
									<h3><a href="#">Innovative Technology Solutions
									cing elit, sed do eiusmod tempor.</a></h3>
									<div class="blog_meta ul-li">
										<ul>
											<li><i class="fas fa-eye"></i> 232 Views</li>
											<li><i class="fas fa-comments"></i> 35 Comments</li>
											<li><i class="fas fa-calendar-alt"></i> 24th March 2019</li>
										</ul>
									</div>
									<p>Our team of experts delivers tailored solutions to help your business thrive in the digital age. We focus on scalable, secure, and innovative technology to drive your success. Duis aute irure dolor in
									reprehenderit in voluptate velit esse cillum dolore.</p>
									<div class="author_meta">
										<div class="author_img float-left">
											<img src="{% static 'user/img/blog/bpa1.html' %}" alt="">
											<span>by Hetmayar</span>
										</div>
										<div class="news_more float-right">
											<a href="#">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<!-- /post item -->
							<div class="news_post_item">
								<div class="news_text_area headline-2-2 pera-content">
									<span class="post_cat"><a href="#">Business</a></span>
									<h3><a href="#">Innovative Technology Solutions
									cing elit, sed do eiusmod tempor.</a></h3>
									<div class="blog_meta ul-li">
										<ul>
											<li><i class="fas fa-eye"></i> 232 Views</li>
											<li><i class="fas fa-comments"></i> 35 Comments</li>
											<li><i class="fas fa-calendar-alt"></i> 24th March 2019</li>
										</ul>
									</div>
									<p>Our team of experts delivers tailored solutions to help your business thrive in the digital age. We focus on scalable, secure, and innovative technology to drive your success. Duis aute irure dolor in
									reprehenderit in voluptate velit esse cillum dolore.</p>
									<div class="author_meta">
										<div class="author_img float-left">
											<img src="{% static 'user/img/blog/bpa1.html' %}" alt="">
											<span>by Hetmayar</span>
										</div>
										<div class="news_more float-right">
											<a href="#">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<!-- /post item -->
							<div class="news_post_item news_qoute position-relative" data-background="{% static 'user/img/blog/qbp.html' %}">
								<div class="news_text_area headline-2-2 position-relative">
									<h3><a href="#">Excepteur sint occaecat cupida
									tat non proident, sunt in.</a></h3>
									<div class="blog_meta ul-li">
										<ul>
											<li><i class="fas fa-eye"></i> 232 Views</li>
											<li><i class="fas fa-comments"></i> 35 Comments</li>
											<li><i class="fas fa-calendar-alt"></i> 24th March 2019</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- /post item -->
							<div class="news_post_item bg_img_post position-relative" data-background="{% static 'user/img/blog/nbg.html' %}">
								<div class="news_text_area headline-2-2 pera-content">
									<span class="post_cat"><a href="#">Business</a></span>
									<h3><a href="#">Innovative Technology Solutions
									cing elit, sed do eiusmod tempor.</a></h3>
									<div class="blog_meta ul-li">
										<ul>
											<li><i class="fas fa-eye"></i> 232 Views</li>
											<li><i class="fas fa-comments"></i> 35 Comments</li>
											<li><i class="fas fa-calendar-alt"></i> 24th March 2019</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="blog_pagination text-center">
							<ul class="pagination">
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Previous">
										<i class="fas fa-angle-double-left"></i>
									</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">...</a></li>
								<li class="page-item"><a class="page-link" href="#">10</a></li>
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
										<i class="fas fa-angle-double-right"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- /blog post -->
					<div class="col-lg-4 col-md-12">
						<div class="site_sidebar">
							<div class="single_widget headline-2">
								<h3 class="widget_title">
									About Us
								</h3>
								<div class="about_widget">
									<div class="ab_widget_img text-center">
										<img src="{% static 'user/img/blog/abb1.html' %}" alt="">
									</div>
									<div class="ab_widget_text text-center headline-2 pera-content">
										<h3>Rosalina D. Willaimson</h3>
										<p>We provide innovative software development and managed IT support.</p>
									</div>
									<div class="ab_widget_social text-center ul-li">
										<ul>
											<li class="h-fb"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li class="h-tw"><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li class="h-bh"><a href="#"><i class="fab fa-behance"></i></a></li>
											<li class="h-lk"><a href="#"><i class="fab fa-linkedin"></i></a></li>
											<li class="h-yo"><a href="#"><i class="fab fa-youtube"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- /widget -->
							<div class="single_widget headline-2">
								<h3 class="widget_title">
									Search Objects
								</h3>
								<div class="search_widget position-relative">
									<form action="#">
										<input class="search-input" type="search" placeholder="Search Here">
										<button type="submit"><i class="fas fa-search"></i> </button>
									</form>
								</div>
							</div>
							<!-- /widget -->
							<div class="single_widget headline-2">
								<h3 class="widget_title">
									Popular Feeds
								</h3>
								<div class="latest-blog-widget">
									<div class="blog-img-content">
										<div class="blog-img nioimage_hover">
											<img src="{% static 'user/img/blog/lpp1.html' %}" alt="">
										</div>
										<div class="blog-text headline-2">
											<h3> <a href="#">Insights and Strategies</a></h3>
											<span class="blog-meta"><i class="fas fa-calendar-alt"></i> 10th May 2020</span>
										</div>
									</div>
									<!-- /blog post -->
									<div class="blog-img-content">
										<div class="blog-img nioimage_hover">
											<img src="{% static 'user/img/blog/lpp2.html' %}" alt="">
										</div>
										<div class="blog-text headline-2">
											<h3> <a href="#">Insights and Strategies</a></h3>
											<span class="blog-meta"><i class="fas fa-calendar-alt"></i> 10th May 2020</span>
										</div>
									</div>
									<!-- /blog post -->
									<div class="blog-img-content">
										<div class="blog-img nioimage_hover">
											<img src="{% static 'user/img/blog/l-3.html' %}" alt="">
										</div>
										<div class="blog-text headline-2">
											<h3> <a href="#">Insights and Strategies</a></h3>
											<span class="blog-meta"><i class="fas fa-calendar-alt"></i> 10th May 2020</span>
										</div>
									</div>
									<!-- /blog post -->
									<div class="blog-img-content">
										<div class="blog-img nioimage_hover">
											<img src="{% static 'user/img/blog/l-4.html' %}" alt="">
										</div>
										<div class="blog-text headline-2">
											<h3> <a href="#">Insights and Strategies</a></h3>
											<span class="blog-meta"><i class="fas fa-calendar-alt"></i> 10th May 2020</span>
										</div>
									</div>
									<!-- /blog post -->
								</div>
							</div>
							<!-- /widget -->
							<div class="single_widget headline-2">
								<h3 class="widget_title">
									Categories
								</h3>
								<div class="wicat_item ul-li-block"> 
									<ul>
										<li><a href="#">Business <span class="post_counter">15</span></a></li>
										<li><a href="#">Consultant <span class="post_counter">74</span></a></li>
										<li><a href="#">Creative <span class="post_counter">12</span></a></li>
										<li><a href="#">UI/UX <span class="post_counter">27</span></a></li>
										<li><a href="#">Technology <span class="post_counter">86</span></a></li>
									</ul>
								</div>
							</div>
							<!-- /widget -->
							<div class="single_widget headline-2">
								<h3 class="widget_title">
									Never Miss News
								</h3>
								<div class="social_widget ul-li position-relative">
									<ul>
										<li class="h-fb"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li class="h-tw"><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li class="h-bh"><a href="#"><i class="fab fa-behance"></i></a></li>
										<li class="h-lk"><a href="#"><i class="fab fa-linkedin"></i></a></li>
										<li class="h-yo"><a href="#"><i class="fab fa-youtube"></i></a></li>
									</ul>
								</div>
							</div>
							<!-- /widget -->
							<div class="single_widget headline-2">
								<h3 class="widget_title">
									Twitter Feeds
								</h3>
								<div class="twitter_update">
									<div class="tw_feed pera-content">
										<div class="twitter_icon">
											<i class="fab fa-twitter"></i>
										</div>
										<div class="tw_feed_text">
											<p>Rescue - #Gutenberg ready @ wordpress
											Theme for Creative Bloggers available on</p>
											<a href="#">@ ThemeForest https://t.co/2r1POjOjgV
											C… https://t.co/rDAnPyClu1</a>
											<span>November 25, 2018</span>
										</div>
									</div>
									<!--tw_feed  -->
									<div class="tw_feed pera-content">
										<div class="twitter_icon">
											<i class="fab fa-twitter"></i>
										</div>
										<div class="tw_feed_text">
											<p>Rescue - #Gutenberg ready @ wordpress
											Theme for Creative Bloggers available on</p>
											<a href="#">@ ThemeForest https://t.co/2r1POjOjgV
											C… https://t.co/rDAnPyClu1</a>
											<span>November 25, 2018</span>
										</div>
									</div>
									<!--tw_feed  -->
									<div class="tw_feed pera-content">
										<div class="twitter_icon">
											<i class="fab fa-twitter"></i>
										</div>
										<div class="tw_feed_text">
											<p>Rescue - #Gutenberg ready @ wordpress
											Theme for Creative Bloggers available on</p>
											<a href="#">@ ThemeForest https://t.co/2r1POjOjgV
											C… https://t.co/rDAnPyClu1</a>
											<span>November 25, 2018</span>
										</div>
									</div>
									<!--tw_feed  -->
								</div>
							</div>
							<!-- /widget -->
							<div class="single_widget headline-2">
								<h3 class="widget_title">
									Instagram Feeds
								</h3>
								<div class="instagram_feed ul-li">
									<ul>
										<li>
											<a href="#"><img src="{% static 'user/img/instagram/ig1.html' %}" alt=""></a>
										</li>
										<li>
											<a href="#"><img src="{% static 'user/img/instagram/ig2.html' %}" alt=""></a>
										</li>
										<li>
											<a href="#"><img src="{% static 'user/img/instagram/ig3.html' %}" alt=""></a>
										</li>
										<li>
											<a href="#"><img src="{% static 'user/img/instagram/ig4.html' %}" alt=""></a>
										</li>
										<li>
											<a href="#"><img src="{% static 'user/img/instagram/ig5.html' %}" alt=""></a>
										</li>
										<li>
											<a href="#"><img src="{% static 'user/img/instagram/ig6.html' %}" alt=""></a>
										</li>
										<li>
											<a href="#"><img src="{% static 'user/img/instagram/ig7.html' %}" alt=""></a>
										</li>
										<li>
											<a href="#"><img src="{% static 'user/img/instagram/ig8.html' %}" alt=""></a>
										</li>
										<li>
											<a href="#"><img src="{% static 'user/img/instagram/ig9.html' %}" alt=""></a>
										</li>
									</ul>
								</div>
							</div>
							<!-- /widget -->
							<div class="single_widget headline-2">
								<h3 class="widget_title">
									Popular Tags
								</h3>
								<div class="popular_tag ul-li">
									<ul>
										<li><a href="#">Popular</a></li>
										<li><a href="#">desgin</a></li>
										<li><a href="#">ux</a></li>
										<li><a href="#">usability</a></li>
										<li><a href="#">Develop</a></li>
										<li><a href="#">Icon</a></li>
										<li><a href="#">Buniness</a></li>
										<li><a href="#">Consult</a></li>
										<li><a href="#">Kit</a></li>
										<li><a href="#">Keyboard</a></li>
										<li><a href="#">Mouse</a></li>
										<li><a href="#">Tech</a></li>
									</ul>
								</div>
							</div>
							<!-- /widget -->
							<div class="add_banner">
								<img src="{% static 'user/img/blog/adb.html' %}" alt="">
							</div>
						</div>
					</div>
					<!-- /sidebar -->
				</div> 
			</div>
		</div>
	</section>
<!-- End of blog feed section
	============================================= -->	




{% endblock %}
{% block extra_js %}
	<script src="{% static 'user/js/jquery.min.js' %}"></script>
	<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'user/js/popper.min.js' %}"></script>
	<script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'user/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'user/js/appear.js' %}"></script>
	<script src="{% static 'user/js/wow.min.js' %}"></script>
	<script src="{% static 'user/js/parallax-scroll.js' %}"></script>
	<script src="{% static 'user/js/circle-progress.js' %}"></script>
	<script src="{% static 'user/js/jquery.easeScroll.min.js' %}"></script>
	<script src="{% static 'user/js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/typer-new.js' %}"></script>
	<script src="{% static 'user/js/lightbox.html' %}"></script>
	<script src="{% static 'user/js/script.js' %}"></script>
	<script src="{% static 'user/js/gmap3.min.js' %}"></script>
{% endblock %}
