{% extends 'user_site/base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block content %}


<!-- Start of breadcurmb section
	============================================= -->
	<section id="breadcurmb" class="breadcurmb-section position-relative" data-background="{% static 'user/img/banner/brbg.jpg' %}">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="breadcurmb-content headline-2">
				<h2>News Feeds</h2>
				<div class="breadcrumb_item ul-li">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active"> News</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- End of breadcurmb section
	============================================= -->

<!-- Start of Blog details section
	============================================= -->
	<section id="blog_details" class="blog_news_post_section blog_details_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="blog_details_content headline-2">
						<div class="blog_details_text headline-2">
							<span class="s_blog_tag">Business</span>
							<h2>Innovative Technology Solutions
							cing elit eiusmod tempor.</h2>
							<div class="blog-meta ul-li">
								<a href="#"><i class="far fa-user"></i> by Piklo D. Sindom</a>
								<a href="#"><i class="fas fa-calendar-alt"></i> 10th May 2020</a>
								<a href="#"><i class="far fa-comments"></i> 35 Comments</a>
							</div>
							<article>
								Our team of experts delivers tailored solutions to help your business thrive in the digital age. We focus on scalable, secure, and innovative technology to drive your success. 
							</article>
							<article>
								Our team of experts delivers tailored solutions to help your business thrive in the digital age. We focus on scalable, secure, and innovative technology to drive your success..
							</article>
							<div class="blog_details_imgfull">
								<img src="{% static 'user/img/blog/bdf1.html' %}" alt="">
							</div>
							<h3>A cleansing hot shower or bath</h3>
							<article>
								Our team of experts delivers tailored solutions to help your business thrive in the digital age. We focus on scalable, secure, and innovative technology to drive your success. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia. 
							</article>
							<h4>Setting the mood with incense</h4>
							<article>
								Our team of experts delivers tailored solutions to help your business thrive in the digital age. We focus on scalable, secure, and innovative technology to drive your success. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia. 
							</article>
							<h4>Setting the mood with incense</h4>
							<div class="blog_details_list ul-li-block">
								<ul>
									<li> Enhancing business workflows through dedicated technology solutions.</li>
									<li> Enhancing business workflows through dedicated technology solutions.</li>
									<li> Enhancing business workflows through dedicated technology solutions.</li>
									<li> Enhancing business workflows through dedicated technology solutions.</li>
									<li> Enhancing business workflows through dedicated technology solutions.</li>
								</ul>
							</div>
							<blockquote>
								<span>by HetMayar</span>
								Viral dreamcatcher keytar typewriter, aest hetic offal umami. Aesthetic polaroid pug pitchfork post-ironic.
							</blockquote>
							<article>
								Our team of experts delivers tailored solutions to help your business thrive in the digital age. We focus on scalable, secure, and innovative technology to drive your success.   
							</article>
						</div>
						<div class="blog_details_extra_text">
							<div class="share_tag">
								<div class="popular_tag float-left text-left ul-li">
									<h3>Releted Tags</h3>
									<ul>
										<li><a href="#">Popular</a></li>
										<li><a href="#">desgin</a></li>
										<li><a href="#">ux</a></li>
									</ul>
								</div>
								<div class="share_post float-right text-right ul-li">
									<h3>Social Share</h3>
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
										<li><a href="#"><i class="fab fa-tumblr"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="next_prev_post relative-position  clearfix">
								<div class="nio_prev_post text-left float-left headline-2">
									<a href="#">
										<span>Prev Post</span>
										<h3>Tips On Minimalist</h3>
									</a>
								</div>
								<div class="nio_prev_post text-right float-right headline-2">
									<a href="#">
										<span>Next Post</span>
										<h3>Less Is More</h3>
									</a>
								</div>
								<div class="bar_point text-center">
									<i class="fas fa-th"></i>
								</div>
							</div>
							<div class="related_postview">
								<h3>Releted Post</h3>
								<div class="row">
									<div class="col-md-6">
										<div class="related_postitem">
											<div class="postitem_img">
												<img src="{% static 'user/img/blog/br1.html' %}" alt="">
											</div>
											<div class="postitem_text">
												<span class="blog-meta"><i class="fas fa-calendar-alt"></i> 10th May 2020</span>
												<h3><a href="#">A series of iOS 7 inspire
												vector icons sense.</a></h3>
												<p>Empowering businesses with modern technology infrastructure.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="related_postitem">
											<div class="postitem_img">
												<img src="{% static 'user/img/blog/br2.html' %}" alt="">
											</div>
											<div class="postitem_text">
												<span class="blog-meta"><i class="fas fa-calendar-alt"></i> 10th May 2020</span>
												<h3><a href="#">A series of iOS 7 inspire
												vector icons sense.</a></h3>
												<p>Empowering businesses with modern technology infrastructure.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="postby_author">
								<div class="author_img">
									<img src="{% static 'user/img/blog/ba1.html' %}" alt="">
								</div>
								<span>Written by</span>
								<h3>Marilin De Aragon</h3>
								<p>An experienced writer and technology enthusiast focused on the latest industry trends.</p>
							</div>
						</div>
						<div class="blog_comment_box">
							<h3>03 Comments</h3>
							<div class="comment_box_area ul-li-block">
								<ul class="comment_itemlist">
									<li>
										<div class="comment_element">
											<div class="comment_img float-let"> 
												<img src="{% static 'user/img/blog/c1.html' %}" alt="">
											</div>
											<div class="comment_content pera-content">
												<h4>Rosalina Kelian</h4>
												<span>19th May 2018</span>
												<p>Innovative Technology Solutionstur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utt.</p>
											</div>
											<div class="reply-btn"><a href="#"><i class="fas fa-reply"></i> Reply</a></div>
										</div>
										<div class="comment_reply relative-position">
											<div class="comment_img float-let">
												<img src="{% static 'user/img/blog/c3.html' %}" alt="">
											</div>
											<div class="comment_content pera-content">
												<h4>Rosalina Kelian</h4>
												<span>19th May 2018</span>
												<p>Innovative Technology Solutionstur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolor commodo consequat.</p>
											</div>
											<div class="reply-btn"><a href="#"><i class="fas fa-reply"></i> Reply</a></div>
										</div>
									</li>
									<li>
										<div class="comment_element">
											<div class="comment_img float-let"> 
												<img src="{% static 'user/img/blog/c2.html' %}" alt="">
											</div>
											<div class="comment_content pera-content">
												<h4>Arista Williamson</h4>
												<span>19th May 2018</span>
												<p>Innovative Technology Solutionstur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
											</div>
											<div class="reply-btn"><a href="#"><i class="fas fa-reply"></i> Reply</a></div>
										</div>
									</li>
								</ul>
							</div>
							<h3>Post Comment</h3>
							<div class="comment_formfield">
								<div class="quote_form">
									<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
										<div class="contact-info">
											<textarea id="message" name="message" placeholder="Enter Comment here..."></textarea>
											<div class="icon-bg">
												<i class="far fa-edit"></i>
											</div>
										</div>
										<div class="contact-info">
											<input class="email" name="name" type="text" placeholder="Enter Name here...">
											<div class="icon-bg">
												<i class="far fa-user"></i>
											</div>
										</div>
										<div class="contact-info">
											<input class="name" name="Email" type="email" placeholder="Enter email here...">
											<div class="icon-bg">
												<i class="far fa-envelope"></i>
											</div>
										</div>
										<div class="contact-info">
											<input class="name" name="web" type="text" placeholder="Enter Your Website...">
											<div class="icon-bg">
												<i class="fas fa-globe"></i>
											</div>
										</div>
										<div class="sub-button  text-capitalize">
											<button class="hover-btn" type="submit" value="Submit"><i class="far fa-comments"></i> Post Comment</button> 
										</div> 
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- blog details content -->
				<div class="col-lg-4 col-md-12">
					<div class="site_sidebar">
						<div class="single_widget headline-2">
							<h3 class="widget_title">
								About Us
							</h3>
							<div class="about_widget">
								<div class="ab_widget_img text-center">
									<img src="{% static 'user/img/blog/abb1.html' %}" alt="">
								</div>
								<div class="ab_widget_text text-center headline-2 pera-content">
									<h3>Rosalina D. Willaimson</h3>
									<p>We provide innovative software development and managed IT support.</p>
								</div>
								<div class="ab_widget_social text-center ul-li">
									<ul>
										<li class="h-fb"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li class="h-tw"><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li class="h-bh"><a href="#"><i class="fab fa-behance"></i></a></li>
										<li class="h-lk"><a href="#"><i class="fab fa-linkedin"></i></a></li>
										<li class="h-yo"><a href="#"><i class="fab fa-youtube"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- /widget -->
						<div class="single_widget headline-2">
							<h3 class="widget_title">
								Search Objects
							</h3>
							<div class="search_widget position-relative">
								<form action="#">
									<input class="search-input" type="search" placeholder="Search Here">
									<button type="submit"><i class="fas fa-search"></i> </button>
								</form>
							</div>
						</div>
						<!-- /widget -->
						<div class="single_widget headline-2">
							<h3 class="widget_title">
								Popular Feeds
							</h3>
							<div class="latest-blog-widget">
								<div class="blog-img-content">
									<div class="blog-img nioimage_hover">
										<img src="{% static 'user/img/blog/lpp1.html' %}" alt="">
									</div>
									<div class="blog-text headline-2">
										<h3> <a href="#">Insights and Strategies</a></h3>
										<span class="blog-meta"><i class="fas fa-calendar-alt"></i> 10th May 2020</span>
									</div>
								</div>
								<!-- /blog post -->
								<div class="blog-img-content">
									<div class="blog-img nioimage_hover">
										<img src="{% static 'user/img/blog/lpp2.html' %}" alt="">
									</div>
									<div class="blog-text headline-2">
										<h3> <a href="#">Insights and Strategies</a></h3>
										<span class="blog-meta"><i class="fas fa-calendar-alt"></i> 10th May 2020</span>
									</div>
								</div>
								<!-- /blog post -->
								<div class="blog-img-content">
									<div class="blog-img nioimage_hover">
										<img src="{% static 'user/img/blog/l-3.html' %}" alt="">
									</div>
									<div class="blog-text headline-2">
										<h3> <a href="#">Insights and Strategies</a></h3>
										<span class="blog-meta"><i class="fas fa-calendar-alt"></i> 10th May 2020</span>
									</div>
								</div>
								<!-- /blog post -->
								<div class="blog-img-content">
									<div class="blog-img nioimage_hover">
										<img src="{% static 'user/img/blog/l-4.html' %}" alt="">
									</div>
									<div class="blog-text headline-2">
										<h3> <a href="#">Insights and Strategies</a></h3>
										<span class="blog-meta"><i class="fas fa-calendar-alt"></i> 10th May 2020</span>
									</div>
								</div>
								<!-- /blog post -->
							</div>
						</div>
						<!-- /widget -->
						<div class="single_widget headline-2">
							<h3 class="widget_title">
								Categories
							</h3>
							<div class="wicat_item ul-li-block"> 
								<ul>
									<li><a href="#">Business <span class="post_counter">15</span></a></li>
									<li><a href="#">Consultant <span class="post_counter">74</span></a></li>
									<li><a href="#">Creative <span class="post_counter">12</span></a></li>
									<li><a href="#">UI/UX <span class="post_counter">27</span></a></li>
									<li><a href="#">Technology <span class="post_counter">86</span></a></li>
								</ul>
							</div>
						</div>
						<!-- /widget -->
						<div class="single_widget headline-2">
							<h3 class="widget_title">
								Never Miss News
							</h3>
							<div class="social_widget ul-li position-relative">
								<ul>
									<li class="h-fb"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li class="h-tw"><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li class="h-bh"><a href="#"><i class="fab fa-behance"></i></a></li>
									<li class="h-lk"><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li class="h-yo"><a href="#"><i class="fab fa-youtube"></i></a></li>
								</ul>
							</div>
						</div>
						<!-- /widget -->
						<div class="single_widget headline-2">
							<h3 class="widget_title">
								Twitter Feeds
							</h3>
							<div class="twitter_update">
								<div class="tw_feed pera-content">
									<div class="twitter_icon">
										<i class="fab fa-twitter"></i>
									</div>
									<div class="tw_feed_text">
										<p>Rescue - #Gutenberg ready @ wordpress
										Theme for Creative Bloggers available on</p>
										<a href="#">@ ThemeForest https://t.co/2r1POjOjgV
										C… https://t.co/rDAnPyClu1</a>
										<span>November 25, 2018</span>
									</div>
								</div>
								<!--tw_feed  -->
								<div class="tw_feed pera-content">
									<div class="twitter_icon">
										<i class="fab fa-twitter"></i>
									</div>
									<div class="tw_feed_text">
										<p>Rescue - #Gutenberg ready @ wordpress
										Theme for Creative Bloggers available on</p>
										<a href="#">@ ThemeForest https://t.co/2r1POjOjgV
										C… https://t.co/rDAnPyClu1</a>
										<span>November 25, 2018</span>
									</div>
								</div>
								<!--tw_feed  -->
								<div class="tw_feed pera-content">
									<div class="twitter_icon">
										<i class="fab fa-twitter"></i>
									</div>
									<div class="tw_feed_text">
										<p>Rescue - #Gutenberg ready @ wordpress
										Theme for Creative Bloggers available on</p>
										<a href="#">@ ThemeForest https://t.co/2r1POjOjgV
										C… https://t.co/rDAnPyClu1</a>
										<span>November 25, 2018</span>
									</div>
								</div>
								<!--tw_feed  -->
							</div>
						</div>
						<!-- /widget -->
						<div class="single_widget headline-2">
							<h3 class="widget_title">
								Instagram Feeds
							</h3>
							<div class="instagram_feed ul-li">
								<ul>
									<li>
										<a href="#"><img src="{% static 'user/img/instagram/ig1.html' %}" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="{% static 'user/img/instagram/ig2.html' %}" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="{% static 'user/img/instagram/ig3.html' %}" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="{% static 'user/img/instagram/ig4.html' %}" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="{% static 'user/img/instagram/ig5.html' %}" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="{% static 'user/img/instagram/ig6.html' %}" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="{% static 'user/img/instagram/ig7.html' %}" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="{% static 'user/img/instagram/ig8.html' %}" alt=""></a>
									</li>
									<li>
										<a href="#"><img src="{% static 'user/img/instagram/ig9.html' %}" alt=""></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- /widget -->
						<div class="single_widget headline-2">
							<h3 class="widget_title">
								Popular Tags
							</h3>
							<div class="popular_tag ul-li">
								<ul>
									<li><a href="#">Popular</a></li>
									<li><a href="#">desgin</a></li>
									<li><a href="#">ux</a></li>
									<li><a href="#">usability</a></li>
									<li><a href="#">Develop</a></li>
									<li><a href="#">Icon</a></li>
									<li><a href="#">Buniness</a></li>
									<li><a href="#">Consult</a></li>
									<li><a href="#">Kit</a></li>
									<li><a href="#">Keyboard</a></li>
									<li><a href="#">Mouse</a></li>
									<li><a href="#">Tech</a></li>
								</ul>
							</div>
						</div>
						<!-- /widget -->
						<div class="add_banner">
							<img src="{% static 'user/img/blog/adb.html' %}" alt="">
						</div>
					</div>
				</div>
				<!-- /sidebar -->
			</div>
		</div>
	</section>
<!-- End of Blog details section
	============================================= -->		


{% endblock %}
{% block extra_js %}
	<script src="{% static 'user/js/jquery.min.js' %}"></script>
	<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'user/js/popper.min.js' %}"></script>
	<script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'user/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'user/js/appear.js' %}"></script>
	<script src="{% static 'user/js/wow.min.js' %}"></script>
	<script src="{% static 'user/js/parallax-scroll.js' %}"></script>
	<script src="{% static 'user/js/circle-progress.js' %}"></script>
	<script src="{% static 'user/js/jquery.easeScroll.min.js' %}"></script>
	<script src="{% static 'user/js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/typer-new.js' %}"></script>
	<script src="{% static 'user/js/lightbox.html' %}"></script>
	<script src="{% static 'user/js/script.js' %}"></script>
	<script src="{% static 'user/js/gmap3.min.js' %}"></script>
{% endblock %}
