{% extends 'user_site/base.html' %}
{% load static %}
{% block title %}Case{% endblock %}
{% block content %}


<!-- Start of breadcurmb section
	============================================= -->
	<section id="breadcurmb" class="breadcurmb-section position-relative" data-background="{% static 'user/img/banner/brbg.jpg' %}">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="breadcurmb-content headline-2">
				<h2>Case Study</h2>
				<div class="breadcrumb_item ul-li">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'api:index_1' %}">Home</a></li>
						<li class="breadcrumb-item active">Portfolio</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- End of breadcurmb section
	============================================= -->

<!-- Start of case quotation section
	============================================= -->
	<section id="case-quota" class="case-quota-section position-relative">
		<div class="container">
			<div class="qouta-text">
				<div class="row">
					<div class="col-lg-5">
						<div class="case-quota-content">
							Our vertical solutions expertise allows your business to 
							streamline workflow, and increase productivity. No it’s
							matter the business, pure as has you covered with mine
							industry compliant solutions.
						</div>
					</div>
					<div class="col-lg-7">
						<div class="qouta-title">
							<div class="section-title title-style-two headline-2">
								<span class="site-tag">Quick Quotation</span>
								<h2>We Offer a 
								Variety of IT Services</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="qouta-box-item">
				<div class="row">
					<div class="col-lg-4">
						<div class="qouta-box-content position-relative">
							<div class="qouta-box-img">
								<img src="{% static 'user/img/blog/b1.jpg' %}" alt="Our Service">
							</div>
							<div class="qouta-box-text position-relative headline-2">
								<span>Our Service</span>
								<h3>How Can We Help You?</h3>
								<div class="quota-box-icon text-center">
									<i class="fas fa-arrow-right"></i>
								</div>	
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="qouta-box-content  position-relative">
							<div class="qouta-box-img">
								<img src="{% static 'user/img/blog/b2.jpg' %}" alt="Our Expertise">
							</div>
							<div class="qouta-box-text position-relative headline-2">
								<span>Our Expertise</span>
								<h3>Why Partner With Us</h3>
								<div class="quota-box-icon text-center">
									<i class="fas fa-arrow-right"></i>
								</div>	
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="qouta-box-content position-relative">
							<div class="qouta-box-img">
								<img src="{% static 'user/img/blog/b3.jpg' %}" alt="Our Customers">
							</div>
							<div class="qouta-box-text position-relative headline-2">
								<span>Our Customers</span>
								<h3>Client Success Stories</h3>
								<div class="quota-box-icon text-center">
									<i class="fas fa-arrow-right"></i>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of quotation section
	============================================= -->

<!-- Start of case filtering section
	============================================= -->
	<section id="case-filter" class="case-filtering-section">
		<div class="container">
			<div class="case-filter-btn">
				<div class="button-group portfolio-filter-btn text-center" role="toolbar" aria-label="Filter portfolio by category">
					<button type="button" class="filter-button is-checked" data-filter="*" aria-pressed="true">All</button>
					<button type="button" class="filter-button" data-filter=".case-study" aria-pressed="false">Case Study</button>
					<button type="button" class="filter-button" data-filter=".it-consultancy" aria-pressed="false">IT Consultancy</button>
					<button type="button" class="filter-button" data-filter=".uix-design" aria-pressed="false">UI/UX Design</button>
					<button type="button" class="filter-button" data-filter=".software" aria-pressed="false">Software</button>
				</div>
			</div>
			<div class="grid project-filtering zoom-gallery clearfix">
				<div class="grid-sizer"></div>
				{% for p in portfolios %}
				<div class="grid-item {% cycle 'grid-item-big' 'grid-item-width' 'grid-item-width' 'grid-item-big' %} {{ p.category }}">
					<div class="case-img-text position-relative">
						<div class="case-img">
							<a href="{% url 'api:portfolio_single' p.slug %}">
								{% if p.image %}
								<img src="{{ p.image.url }}" alt="{{ p.title }}">
								{% else %}
								<img src="{% static 'user/img/blog/b4.jpg' %}" alt="{{ p.title }}">
								{% endif %}
							</a>
						</div>
						<div class="case-popup">
							{% if p.image %}
							<a href="{{ p.image.url }}" title="{{ p.title }}"><i class="fas fa-plus"></i></a>
							{% else %}
							<a href="{% static 'user/img/blog/b4.jpg' %}" title="{{ p.title }}"><i class="fas fa-plus"></i></a>
							{% endif %}
						</div>
					</div>
				</div>
				{% empty %}
				<div class="grid-item grid-item-big case-study it-consultancy software">
					<div class="case-img-text position-relative">
						<div class="case-img"><img src="{% static 'user/img/blog/b4.jpg' %}" alt="Sample project"></div>
						<div class="case-popup"><a href="{% static 'user/img/blog/b4.jpg' %}"><i class="fas fa-plus"></i></a></div>
					</div>
				</div>
				<div class="grid-item grid-item-width case-study uix-design">
					<div class="case-img-text position-relative">
						<div class="case-img"><img src="{% static 'user/img/blog/b5.jpg' %}" alt="Sample project"></div>
						<div class="case-popup"><a href="{% static 'user/img/blog/b5.jpg' %}"><i class="fas fa-plus"></i></a></div>
					</div>
				</div>
				<div class="grid-item grid-item-width uix-design software">
					<div class="case-img-text position-relative">
						<div class="case-img"><img src="{% static 'user/img/blog/b6.jpg' %}" alt="Sample project"></div>
						<div class="case-popup"><a href="{% static 'user/img/blog/b6.jpg' %}"><i class="fas fa-plus"></i></a></div>
					</div>
				</div>
				<div class="grid-item grid-item-width case-study software">
					<div class="case-img-text position-relative">
						<div class="case-img"><img src="{% static 'user/img/banner/b1.png' %}" alt="Sample project"></div>
						<div class="case-popup"><a href="{% static 'user/img/banner/b1.png' %}"><i class="fas fa-plus"></i></a></div>
					</div>
				</div>
				<div class="grid-item grid-item-big it-consultancy software">
					<div class="case-img-text position-relative">
						<div class="case-img"><img src="{% static 'user/img/banner/mockup.png' %}" alt="Sample project"></div>
						<div class="case-popup"><a href="{% static 'user/img/banner/mockup.png' %}"><i class="fas fa-plus"></i></a></div>
					</div>
				</div>
				<div class="grid-item grid-item-big case-study it-consultancy">
					<div class="case-img-text position-relative">
						<div class="case-img"><img src="{% static 'user/img/banner/d1.jpg' %}" alt="Sample project"></div>
						<div class="case-popup"><a href="{% static 'user/img/banner/d1.jpg' %}"><i class="fas fa-plus"></i></a></div>
					</div>
				</div>
				<div class="grid-item grid-item-big uix-design it-consultancy">
					<div class="case-img-text position-relative">
						<div class="case-img"><img src="{% static 'user/img/banner/ms1.jpg' %}" alt="Sample project"></div>
						<div class="case-popup"><a href="{% static 'user/img/banner/ms1.jpg' %}"><i class="fas fa-plus"></i></a></div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
<!-- End of case filtering section
	============================================= -->

<!-- Start of Client section
	============================================= -->
	<div class="client-area">
		<div class="container">
			<div class="client-number headline-1 text-center">
				<h3>Our happy clients all over worlds <strong>12,876,33</strong></h3>
			</div>
			<div class="row">
				<div class="client-item-list ul-li clearfix">
					<ul>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c1.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch1.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c2.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch2.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c3.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch3.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c4.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch4.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c5.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch5.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c6.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch6.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<!-- End of Client section
	============================================= -->					


{% endblock %}
