{% extends 'user_site/base.html' %}
{% load static %}
{% block title %}Case{% endblock %}
{% block content %}


<!-- Start of breadcurmb section
	============================================= -->
	<section id="breadcurmb" class="breadcurmb-section position-relative" data-background="{% static 'user/img/banner/brbg.jpg' %}">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="breadcurmb-content headline-2">
				<h2>Case Study</h2>
				<div class="breadcrumb_item ul-li">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'api:index_1' %}">Home</a></li>
						<li class="breadcrumb-item active">Portfolio</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- End of breadcurmb section
	============================================= -->

<!-- Start of case quotation section
	============================================= -->
	<section id="case-quota" class="case-quota-section position-relative">
		<div class="container">
			<div class="qouta-text">
				<div class="row">
					<div class="col-lg-5">
						<div class="case-quota-content">
							Our vertical solutions expertise allows your business to 
							streamline workflow, and increase productivity. No it’s
							matter the business, pure as has you covered with mine
							industry compliant solutions.
						</div>
					</div>
					<div class="col-lg-7">
						<div class="qouta-title">
							<div class="section-title title-style-two headline-2">
								<span class="site-tag">Quick Quotation</span>
								<h2>We Offer a 
								Variety of IT Services</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="qouta-box-item">
				<div class="row">
					<div class="col-lg-4">
						<div class="qouta-box-content position-relative">
							<div class="qouta-box-img">
								<img src="{% static 'user/img/blog/b1.jpg' %}" alt="Our Service">
							</div>
							<div class="qouta-box-text position-relative headline-2">
								<span>Our Service</span>
								<h3>How Can We Help You?</h3>
								<div class="quota-box-icon text-center">
									<i class="fas fa-arrow-right"></i>
								</div>	
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="qouta-box-content  position-relative">
							<div class="qouta-box-img">
								<img src="{% static 'user/img/blog/b2.jpg' %}" alt="Our Expertise">
							</div>
							<div class="qouta-box-text position-relative headline-2">
								<span>Our Expertise</span>
								<h3>Why Partner With Us</h3>
								<div class="quota-box-icon text-center">
									<i class="fas fa-arrow-right"></i>
								</div>	
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="qouta-box-content position-relative">
							<div class="qouta-box-img">
								<img src="{% static 'user/img/blog/b3.jpg' %}" alt="Our Customers">
							</div>
							<div class="qouta-box-text position-relative headline-2">
								<span>Our Customers</span>
								<h3>Client Success Stories</h3>
								<div class="quota-box-icon text-center">
									<i class="fas fa-arrow-right"></i>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of quotation section
	============================================= -->

<!-- Start of case filtering section
	============================================= -->
	<section id="case-filter" class="case-filtering-section">
		<div class="container">
			<div class="case-filter-btn">
				<div class="button-group portfolio-filter-btn text-capitalize text-center clearfix">
					<button class="filter-button is-checked" data-filter="*">All</button>
					<button class="filter-button" data-filter=".branding">Case Study</button>
					<button class="filter-button" data-filter=".fashion">IT Consultancy</button>
					<button class="filter-button" data-filter=".featured">UIX Design</button>
					<button class="filter-button" data-filter=".graphic">Software</button>
				</div>
			</div>
			<div class="grid project-filtering zoom-gallery clearfix row" data-isotope="{ &quot;masonry&quot;: { &quot;columnWidth&quot;: 0 } }">
				<div class="grid-sizer"></div>
				<div class="grid-item grid-item-big branding fashion graphic" data-category="branding fashion graphic">
					<div class="case-img-text position-relative">
						<div class="case-img">
							<img src="{% static 'user/img/blog/b4.jpg' %}" alt="Portfolio Item 1">
						</div>
						<div class="case-popup">
							<a  data-lightbox="roadtrip" href="{% static 'user/img/blog/b4.jpg' %}"> <i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="grid-item grid-item-width branding fashion graphic" data-category="branding fashion graphic">
					<div class="case-img-text position-relative">
						<div class="case-img">
							<img src="{% static 'user/img/blog/b5.jpg' %}" alt="Portfolio Item 2">
						</div>
						<div class="case-popup">
							<a  data-lightbox="roadtrip" href="{% static 'user/img/blog/b5.jpg' %}"> <i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="grid-item grid-item-width featured  graphic" data-category="featured graphic">
					<div class="case-img-text position-relative">
						<div class="case-img position-relative">
							<img src="{% static 'user/img/blog/b6.jpg' %}" alt="Portfolio Item 3">
						</div>
						<div class="case-popup">
							<a  data-lightbox="roadtrip" href="{% static 'user/img/blog/b6.jpg' %}"><i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="grid-item grid-item-width branding  graphic" data-category="branding  graphic">
					<div class="case-img-text position-relative">
						<div class="case-img">
							<img src="{% static 'user/img/banner/b1.png' %}" alt="Portfolio Item 4">
						</div>
						<div class="case-popup">
							<a data-lightbox="roadtrip" href="{% static 'user/img/banner/b1.png' %}"><i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="grid-item grid-item-big  fashion graphic" data-category=" fashion graphic">
					<div class="case-img-text position-relative">
						<div class="case-img">
							<img src="{% static 'user/img/banner/mockup.png' %}" alt="Portfolio Item 5">
						</div>
						<div class="case-popup">
							<a data-lightbox="roadtrip" href="{% static 'user/img/banner/mockup.png' %}"><i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="grid-item grid-item-big branding fashion " data-category="branding fashion ">
					<div class="case-img-text position-relative">
						<div class="case-img">
							<img src="{% static 'user/img/banner/d1.jpg' %}" alt="Portfolio Item 6">
						</div>
						<div class="case-popup">
							<a data-lightbox="roadtrip" href="{% static 'user/img/banner/d1.jpg' %}"><i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="grid-item grid-item-big featured  fashion " data-category="featured fashion ">
					<div class="case-img-text position-relative">
						<div class="case-img">
							<img src="{% static 'user/img/banner/ms1.jpg' %}" alt="Portfolio Item 7">
						</div>
						<div class="case-popup">
							<a data-lightbox="roadtrip" href="{% static 'user/img/banner/ms1.jpg' %}"><i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of case filtering section
	============================================= -->

<!-- Start of Client section
	============================================= -->
	<div class="client-area">
		<div class="container">
			<div class="client-number headline-1 text-center">
				<h3>Our happy clients all over worlds <strong>12,876,33</strong></h3>
			</div>
			<div class="row">
				<div class="client-item-list ul-li clearfix">
					<ul>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c1.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch1.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c2.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch2.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c3.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch3.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c4.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch4.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c5.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch5.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c6.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch6.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<!-- End of Client section
	============================================= -->					


{% endblock %}
{% block extra_js %}
	<script src="{% static 'user/js/jquery.min.js' %}"></script>
	<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'user/js/popper.min.js' %}"></script>
	<script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'user/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'user/js/appear.js' %}"></script>
	<script src="{% static 'user/js/wow.min.js' %}"></script>
	<script src="{% static 'user/js/parallax-scroll.js' %}"></script>
	<script src="{% static 'user/js/circle-progress.js' %}"></script>
	<script src="{% static 'user/js/jquery.easeScroll.min.js' %}"></script>
	<script src="{% static 'user/js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/typer-new.js' %}"></script>
	<script src="{% static 'user/js/lightbox.js' %}"></script>
	<script src="{% static 'user/js/script.js' %}"></script>
	<script src="{% static 'user/js/gmap3.min.js' %}"></script>
{% endblock %}
