{% extends 'user_site/base.html' %}
{% load static %}
{% block title %}FAQ{% endblock %}
{% block content %}


<!-- Start of breadcurmb section
	============================================= -->
	<section id="breadcurmb" class="breadcurmb-section position-relative" data-background="{% static 'user/img/banner/brbg.jpg' %}">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="breadcurmb-content headline-2">
				<h2>Get FAQ</h2>
				<div class="breadcrumb_item ul-li">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">FAQ</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- End of breadcurmb section
	============================================= -->

<!-- Start of faq content box section
	============================================= -->
	<section id="faq-content" class="faq-content-section">
		<div class="container">
			<div class="faq-content-field">
				<div class="row">
					<div class="col-lg-4">
						<div class="faq-content-inner-box position-relative">
							<div class="faq-content-icon">
								<i class="flaticon-compass"></i>
							</div>
							<div class="faq-content-serial">
								01
							</div>
							<div class="faq-content-text headline-2 pera-content">
								<h3>Terms & Conditions</h3>
								<p>Delivering secure, scalable, and high-performance IT solutions that empower your brand's digital presence and ensure seamless user experiences.</p>
								<a href="#"><i class="fas fa-arrow-right"></i> Get Answers</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="faq-content-inner-box position-relative">
							<div class="faq-content-icon">
								<i class="flaticon-compass"></i>
							</div>
							<div class="faq-content-serial">
								02
							</div>
							<div class="faq-content-text headline-2 pera-content">
								<h3>Terms & Conditions</h3>
								<p>Delivering secure, scalable, and high-performance IT solutions that empower your brand's digital presence and ensure seamless user experiences.</p>
								<a href="#"><i class="fas fa-arrow-right"></i> Get Answers</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="faq-content-inner-box position-relative">
							<div class="faq-content-icon">
								<i class="flaticon-compass"></i>
							</div>
							<div class="faq-content-serial">
								03
							</div>
							<div class="faq-content-text headline-2 pera-content">
								<h3>Terms & Conditions</h3>
								<p>Delivering secure, scalable, and high-performance IT solutions that empower your brand's digital presence and ensure seamless user experiences.</p>
								<a href="#"><i class="fas fa-arrow-right"></i> Get Answers</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of faq content box section
	============================================= -->

<!-- Start of faq ques-ans section
	============================================= -->
	<section id="faq-ques-ans" class="faw-ques-ans-section">
		<div class="container">
			<div class="section-title title-style-two headline-2">
				<span class="site-tag">Get Answers</span>
				<h2>Get Some Questions
				Answers Here.</h2>
			</div>
			<div class="faq-ques-ans-box">
				<div class="row">
					<div class="col-lg-6">
						<div class="faq-ques-ans-accordion">
							<div class="accordion" id="accordionExample">
								<div class="faq_area faq_area1 active">
									<div class="faq-header" id="heading01">
										<h3>
											<button class="faq_title" type="button" data-toggle="collapse" data-target="#collapse01" aria-expanded="true" aria-controls="collapse01">
												Are free Anti-Virus software any good?
											</button>
										</h3>
									</div>
									<div id="collapse01" class="collapse show" aria-labelledby="heading01" data-parent="#accordionExample">
										<div class="faq-body">
											Innovative Technology Solutionstur adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi oluptate velit esse.   
										</div>
									</div>
								</div>
								<div class="faq_area faq_area1">
									<div class="faq-header" id="heading02">
										<h3>
											<button class="faq_title collapsed" type="button" data-toggle="collapse" data-target="#collapse02" aria-expanded="true" aria-controls="collapse02">
												Are free Anti-Virus software any good?
											</button>
										</h3>
									</div>
									<div id="collapse02" class="collapse" aria-labelledby="heading02" data-parent="#accordionExample">
										<div class="faq-body">
											Innovative Technology Solutionstur adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi oluptate velit esse.   
										</div>
									</div>
								</div>
								<div class="faq_area faq_area1">
									<div class="faq-header" id="heading03">
										<h3>
											<button class="faq_title collapsed" type="button" data-toggle="collapse" data-target="#collapse03" aria-expanded="true" aria-controls="collapse03">
												Are free Anti-Virus software any good?
											</button>
										</h3>
									</div>
									<div id="collapse03" class="collapse" aria-labelledby="heading03" data-parent="#accordionExample">
										<div class="faq-body">
											Innovative Technology Solutionstur adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi oluptate velit esse.   
										</div>
									</div>
								</div>
								<div class="faq_area faq_area1">
									<div class="faq-header" id="heading04">
										<h3>
											<button class="faq_title collapsed" type="button" data-toggle="collapse" data-target="#collapse04" aria-expanded="true" aria-controls="collapse04">
												Are free Anti-Virus software any good?
											</button>
										</h3>
									</div>
									<div id="collapse04" class="collapse" aria-labelledby="heading04" data-parent="#accordionExample">
										<div class="faq-body">
											Innovative Technology Solutionstur adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi oluptate velit esse.   
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="faq-ques-ans-accordion">
							<div class="accordion" id="accordionExample2">
								<div class="faq_area faq_area2 active">
									<div class="faq-header" id="heading05">
										<h3>
											<button class="faq_title" type="button" data-toggle="collapse" data-target="#collapse05" aria-expanded="true" aria-controls="collapse05">
												Are free Anti-Virus software any good?
											</button>
										</h3>
									</div>
									<div id="collapse05" class="collapse show" aria-labelledby="heading05" data-parent="#accordionExample2">
										<div class="faq-body">
											Innovative Technology Solutionstur adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi oluptate velit esse.   
										</div>
									</div>
								</div>
								<div class="faq_area faq_area2">
									<div class="faq-header" id="heading06">
										<h3>
											<button class="faq_title collapsed" type="button" data-toggle="collapse" data-target="#collapse06" aria-expanded="true" aria-controls="collapse06">
												Are free Anti-Virus software any good?
											</button>
										</h3>
									</div>
									<div id="collapse06" class="collapse" aria-labelledby="heading06" data-parent="#accordionExample2">
										<div class="faq-body">
											Innovative Technology Solutionstur adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi oluptate velit esse.   
										</div>
									</div>
								</div>
								<div class="faq_area faq_area2">
									<div class="faq-header" id="heading07">
										<h3>
											<button class="faq_title collapsed" type="button" data-toggle="collapse" data-target="#collapse07" aria-expanded="true" aria-controls="collapse07">
												Are free Anti-Virus software any good?
											</button>
										</h3>
									</div>
									<div id="collapse07" class="collapse" aria-labelledby="heading07" data-parent="#accordionExample2">
										<div class="faq-body">
											Innovative Technology Solutionstur adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi oluptate velit esse.   
										</div>
									</div>
								</div>
								<div class="faq_area faq_area2">
									<div class="faq-header" id="heading08">
										<h3>
											<button class="faq_title collapsed" type="button" data-toggle="collapse" data-target="#collapse08" aria-expanded="true" aria-controls="collapse08">
												Are free Anti-Virus software any good?
											</button>
										</h3>
									</div>
									<div id="collapse08" class="collapse" aria-labelledby="heading08" data-parent="#accordionExample2">
										<div class="faq-body">
											Innovative Technology Solutionstur adipisicing elit, sed do eiusmod tem por incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi oluptate velit esse.   
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of faq ques-ans section
	============================================= -->	

<!-- Start of Call to Action  section
	============================================= -->
	<section id="cta-2" class="call-to-action-2">
		<div class="container">
			<div class="call-to-content-2 relative-position">
				<div class="call-to-text">
					<div class="section-title title-style-two headline-2 text-center">
						<span class="site-tag">Anything On Your Mind</span>
						<h2>Tell Us Your Estimate Planning
						With Small Details</h2>
					</div>
					<div class="call-btn">
						<a href="#">Learn About Us</a>
						<a href="#">Our Team</a>
					</div>
				</div>
				<div class="call-icon-bg icon-bg1"><i class="flaticon-hosting"></i></div>
				<div class="call-icon-bg icon-bg2"><i class="flaticon-lamp"></i></div>
			</div>
		</div>
	</section>
<!-- End Call to Action
	============================================= -->				


{% endblock %}
{% block extra_js %}
	<script src="{% static 'user/js/jquery.min.js' %}"></script>
	<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'user/js/popper.min.js' %}"></script>
	<script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'user/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'user/js/appear.js' %}"></script>
	<script src="{% static 'user/js/wow.min.js' %}"></script>
	<script src="{% static 'user/js/parallax-scroll.js' %}"></script>
	<script src="{% static 'user/js/circle-progress.html' %}"></script>
	<script src="{% static 'user/js/jquery.easeScroll.min.js' %}"></script>
	<script src="{% static 'user/js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/typer-new.js' %}"></script>
	<script src="{% static 'user/js/lightbox.html' %}"></script>
	<script src="{% static 'user/js/script.js' %}"></script>
	<script src="{% static 'user/js/gmap3.min.js' %}"></script>
{% endblock %}
