{% extends 'user_site/base.html' %}
{% load static %}
{% block title %}Home Page 1{% endblock %}
{% block content %}


<!-- Start of slider  section
	============================================= -->
	<section id="slider" class="slider-section slider-style-one relative-position" data-background="{% static 'user/img/banner/b1.png' %}">
		<div class="background-overlay"></div>
		<div id="slider-id" class="slider-home-one owl-carousel">
			<div class="slider-content-box">
				<div class="slider-text-content headline-1 pera-content">
					<span class="slide-tag">Focuc On Business</span>
					<h1><span>&</span> It Services</h1>
					<p>Your business goal is not only profit but growth also.</p>
					<div class="slider-btn">
						<a class="s-more-btn" href="#">Get Started Now</a>
						<a class="s-video-btn d-inline-block text-center video_box" href="https://www.youtube.com/watch?v=TdSA7gkVYU0"> <i class="fas fa-play"></i></a>
					</div>
				</div>
			</div>	
			<div class="slider-content-box">
				<div class="slider-text-content headline-1 pera-content">
					<span class="slide-tag">Focuc On Business</span>
					<h1><span>&</span> It Services</h1>
					<p>Your business goal is not only profit but growth also.</p>
					<div class="slider-btn">
						<a class="s-more-btn" href="#">Get Started Now</a>
						<a class="s-video-btn d-inline-block text-center video_box" href="https://www.youtube.com/watch?v=TdSA7gkVYU0"> <i class="fas fa-play"></i></a>
					</div>
				</div>
			</div>	
			<div class="slider-content-box">
				<div class="slider-text-content headline-1 pera-content">
					<span class="slide-tag">Focuc On Business</span>
					<h1><span>&</span> It Services</h1>
					<p>Your business goal is not only profit but growth also.</p>
					<div class="slider-btn">
						<a class="s-more-btn" href="#">Get Started Now</a>
						<a class="s-video-btn d-inline-block text-center video_box" href="https://www.youtube.com/watch?v=TdSA7gkVYU0"> <i class="fas fa-play"></i></a>
					</div>
				</div>
			</div>	
		</div>
		<div class="banner-mockup" data-parallax='{"x" : -70}'>
			<img src="{% static 'user/img/banner/mockup.png' %}" alt="">
		</div>
	</section>
<!-- End of slider  section
	============================================= -->

<!-- Start of About section
	============================================= -->
	<section id="about" class="about-section-1">
		<div class="container">
			<div class="about-content-1">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="about-img relative-position">
							<div class="about-main-img">
								<img src="{% static 'user/img/about/ab1.jpg' %}" alt="">
							</div>
							<div class="about-circle-img-1 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<img src="{% static 'user/img/about/abc1.jpg' %}" alt="">
							</div>
							<div class="about-circle-img-2 wow fadeInRight" data-wow-delay="0ms">
								<img src="{% static 'user/img/about/abc2.jpg' %}" alt="">
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="about-text-item-1">
							<div class="section-title title-style-one headline-1">
								<span class="site-tag">About US</span>
								<h2>Stay Up To Running
								Stay Protected</h2>
								<h3 class="sub-text">Our vertical solutions expertise allows your business
								to streamline workflow.</h3>
							</div>
							<div class="about-text pera-content">
								<p>Our vertical solutions expertise allows your business to streamline
									workflow, and increase productivity. No matter the business, pure as
								has you covered with industry compliant solutions.</p>
							</div>
							<div class="about-feature">
								<div class="about-feature-item">
									<div class="about-feature-icon float-left">
										<i class="flaticon-chart"></i>
									</div>
									<div class="about-feature-text headline-1 pera-content">
										<h4>Tracking System</h4>
										<p>Our vertical solutions expertise
										allows your business.</p>
									</div>
								</div>
								<div class="about-feature-item">
									<div class="about-feature-icon float-left">
										<i class="flaticon-box"></i>
									</div>
									<div class="about-feature-text headline-1 pera-content">
										<h4>Growth Business</h4>
										<p>Our vertical solutions expertise
										allows your business.</p>
									</div>
								</div>
							</div>
							<div class="ab-btn">
								<a href="#">Learn About Us <span></span></a>
								<a href="#">Our Team</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of About section
	============================================= -->			


<!-- Start of Service section
	============================================= -->
	<section id="service" class="service-section">
		<div class="container">
			<div class="service-content">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="section-title title-style-one headline-1">
							<span class="site-tag">Services</span>
							<h2>What We Do Here</h2>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="section-title-text">
							Our vertical solutions expertise allows your business to streamline
							workflow, and increase productivity. No matter the business, pure as
							has you covered with industry compliant solutions.
						</div>
					</div>
				</div>
				<!-- section title -->
				<div class="service-item-list">
					<div class="row">
						<div class="col-lg-3  col-md-6 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="service-icon-text relative-position">
								<div class="service-icon text-center">
									<i class="flaticon-compass"></i>
								</div>
								<div class="service-item-no text-center position-absolute">
									01
								</div>
								<div class="service-text headline-1 text-center pera-content relative-position">
									<h3>Connect To Existing
									Identity Systems</h3>
									<p>Our vertical solutions expertise allows your business  workflow, and increase.</p>
								</div>
								<div class="service-more text-center">
									<a href="#"><i class="flaticon-right-arrow"></i></a>
								</div>
							</div>
						</div>
						<!-- /service-text-icon -->
						<div class="col-lg-3  col-md-6 wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="service-icon-text relative-position">
								<div class="service-icon text-center">
									<i class="flaticon-intersect"></i>
								</div>
								<div class="service-item-no text-center position-absolute">
									02
								</div>
								<div class="service-text headline-1 text-center pera-content relative-position">
									<h3>Processing Activity &
									Privacy Roles</h3>
									<p>Our vertical solutions expertise allows your business  workflow, and increase.</p>
								</div>
								<div class="service-more text-center">
									<a href="#"><i class="flaticon-right-arrow"></i></a>
								</div>
							</div>
						</div>
						<!-- /service-text-icon -->
						<div class="col-lg-3  col-md-6 wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
							<div class="service-icon-text relative-position">
								<div class="service-icon text-center">
									<i class="flaticon-magic-wand"></i>
								</div>
								<div class="service-item-no text-center position-absolute">
									03
								</div>
								<div class="service-text headline-1 text-center pera-content relative-position">
									<h3>User & System
									Credentials</h3>
									<p>Our vertical solutions expertise allows your business  workflow, and increase.</p>
								</div>
								<div class="service-more text-center">
									<a href="#"><i class="flaticon-right-arrow"></i></a>
								</div>
							</div>
						</div>
						<!-- /service-text-icon -->
						<div class="col-lg-3  col-md-6 wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
							<div class="service-icon-text relative-position">
								<div class="service-icon text-center">
									<i class="flaticon-fabric"></i>
								</div>
								<div class="service-item-no text-center position-absolute">
									04
								</div>
								<div class="service-text headline-1 text-center pera-content relative-position">
									<h3>Consent Flagged
									Authorization</h3>
									<p>Our vertical solutions expertise allows your business  workflow, and increase.</p>
								</div>
								<div class="service-more text-center">
									<a href="#"><i class="flaticon-right-arrow"></i></a>
								</div>
							</div>
						</div>
						<!-- /service-text-icon -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="service-cta text-center pera-content">
		<p>Stop wasting time and money on technology. <a href="#">Explore our company</a></p>
	</div>
<!-- End of Service section
	============================================= -->

<!-- Start of Feature section
	============================================= -->
	<section id="feature" class="feature-section relative-position">
		<div class="container">
			<div class="feature-content">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="feature-map-content relative-position">
							<div class="it-maplocation">
								<div class="it-location-iiner pera-content">
									<div class="it-location-counter headline-1">
										<h3>10<span>+</span></h3> 
									</div>
									<p>Country Coverage</p>
								</div>
								<div class="it-feature-indicatior relative-position">
									<div class="it-indicator-border1"></div>
									<div class="it-indicator-border2"></div>
								</div>
							</div>
							<div class="it-maplocation">
								<div class="it-location-iiner pera-content">
									<div class="it-location-counter headline-1">
										<h3>10<span>+</span></h3> 
									</div>
									<p>Country Coverage</p>
								</div>
								<div class="it-feature-indicatior relative-position">
									<div class="it-indicator-border1"></div>
									<div class="it-indicator-border2"></div>
								</div>
							</div>
							<div class="it-maplocation">
								<div class="it-location-iiner pera-content">
									<div class="it-location-counter headline-1">
										<h3>10<span>+</span></h3> 
									</div>
									<p>Country Coverage</p>
								</div>
								<div class="it-feature-indicatior relative-position">
									<div class="it-indicator-border1"></div>
									<div class="it-indicator-border2"></div>
								</div>
							</div>
							<div class="it-maplocation">
								<div class="it-location-iiner pera-content">
									<div class="it-location-counter headline-1">
										<h3>10<span>+</span></h3> 
									</div>
									<p>Country Coverage</p>
								</div>
								<div class="it-feature-indicatior relative-position">
									<div class="it-indicator-border1"></div>
									<div class="it-indicator-border2"></div>
								</div>
							</div>
							<div class="it-maplocation">
								<div class="it-location-iiner pera-content">
									<div class="it-location-counter headline-1">
										<h3>10<span>+</span></h3> 
									</div>
									<p>Country Coverage</p>
								</div>
								<div class="it-feature-indicatior relative-position">
									<div class="it-indicator-border1"></div>
									<div class="it-indicator-border2"></div>
								</div>
							</div>
							<div class="it-maplocation">
								<div class="it-location-iiner pera-content">
									<div class="it-location-counter headline-1">
										<h3>10<span>+</span></h3> 
									</div>
									<p>Country Coverage</p>
								</div>
								<div class="it-maplocation-img"><img src="{% static 'user/img/feature/fp1.jpg' %}" alt=""></div>
							</div>
							<div class="it-maplocation">
								<div class="it-location-iiner pera-content">
									<div class="it-location-counter headline-1">
										<h3>10<span>+</span></h3> 
									</div>
									<p>Country Coverage</p>
								</div>
								<div class="it-maplocation-img"><img src="{% static 'user/img/feature/fp2.jpg' %}" alt=""></div>
							</div>
						</div>
					</div>
					<!-- /map content -->
					<div class="col-lg-6 col-md-12">
						<div class="feature-text-content">
							<div class="section-title title-style-one headline-1">
								<span class="site-tag">Our Features</span>
								<h2>Managed IT Services
								For Your Industry.</h2>
								<h3 class="sub-text">Our vertical solutions expertise allows your business
								to streamline workflow.</h3>
							</div>
							<div class="about-text pera-content">
								<p>Our vertical solutions expertise allows your business to streamline
									workflow, and increase productivity. No matter the business, pure as
								has you covered with industry compliant solutions.</p>
							</div>
							<div class="feature-list-item ul-li clearfix">
								<ul>
									<li><i class="fas fa-check"></i> Cross-Industry Expertise</li>
									<li><i class="fas fa-check"></i> Dedicated IT Solution</li>
									<li><i class="fas fa-check"></i> Expertise & Leadership</li>
									<li><i class="fas fa-check"></i> 10+ Team Members</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of Feature section
	============================================= -->	

<!-- Start of portfolio section
	============================================= -->
	<section id="portfolio" class="portfolio-section relative-position">
		<div class="container">
			<div class="portfolio-content">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="section-title title-style-one headline-1">
							<span class="site-tag">Portfolio</span>
							<h2>Great Case Study</h2>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="section-title-text">
							Our vertical solutions expertise allows your business to streamline
							workflow, and increase productivity. No matter the business, pure as
							has you covered with industry compliant solutions.
						</div>
					</div>
				</div>
				<!-- section title -->
				<div class="portfolio-item-content">
					<div class="row">
						<div class="col-lg-4">
							<div class="portfolio-img-text wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="portfolio-img relative-position">
									<img src="{% static 'user/img/portfolio/prt1.jpg' %}" alt="">
									<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pshape1.png' %}" alt=""></div>
									<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pshape2.png' %}" alt=""></div>
								</div>
								<div class="portfolio-text relative-position headline-1">
									<div class="portfolio-favicon text-center">
										<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
									</div>
									<span class="portfolio-tag">Idea & Technology</span>
									<h3><a href="#">App & Virtual Reality</a></h3>
								</div>
							</div>
						</div>
						<!-- /portfolio item -->
						<div class="col-lg-4">
							<div class="portfolio-img-text wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="portfolio-img relative-position">
									<img src="{% static 'user/img/portfolio/prt2.jpg' %}" alt="">
									<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pshape1.png' %}" alt=""></div>
									<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pshape2.png' %}" alt=""></div>
								</div>
								<div class="portfolio-text relative-position headline-1">
									<div class="portfolio-favicon text-center">
										<img src="{% static 'user/img/portfolio/fvi2.png' %}" alt="">
									</div>
									<span class="portfolio-tag">UXI Design</span>
									<h3><a href="#">Power Secutiry Panel</a></h3>
								</div>
							</div>
						</div>
						<!-- /portfolio item -->
						<div class="col-lg-4">
							<div class="portfolio-img-text wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="portfolio-img relative-position">
									<img src="{% static 'user/img/portfolio/prt3.jpg' %}" alt="">
									<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pshape1.png' %}" alt=""></div>
									<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pshape2.png' %}" alt=""></div>
								</div>
								<div class="portfolio-text relative-position headline-1">
									<div class="portfolio-favicon text-center">
										<img src="{% static 'user/img/portfolio/fvi3.png' %}" alt="">
									</div>
									<span class="portfolio-tag">Software & Data</span>
									<h3><a href="#">Yovo Antivirus & Data</a></h3>
								</div>
							</div>
						</div>
						<!-- /portfolio item -->
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of portfolio section
	============================================= -->

<!-- Start of Client section
	============================================= -->
	<div class="client-area">
		<div class="container">
			<div class="client-number headline-1 text-center">
				<h3>Our happy clients all over worlds <strong class="counter">12,876,33</strong></h3>
			</div>
			<div class="row">
				<div class="client-item-list ul-li clearfix">
					<ul>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c1.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch1.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c2.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch2.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c3.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch3.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c4.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch4.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c5.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch5.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
						<li>
							<div class="client-img-bg">
								<div class="c-img-1">
									<img src="{% static 'user/img/client/c6.png' %}" alt="">
								</div>
								<div class="c-hover-img">
									<img src="{% static 'user/img/client/ch6.png' %}" alt="">
								</div>
								<div class="c-hover-bg">
									<img src="{% static 'user/img/client/cbg1.jpg' %}" alt="">
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<!-- End of Client section
	============================================= -->

<!-- Start of challenge section
	============================================= -->
	<section id="challenge" class="challenge-section relative-position">
		<div class="container">
			<div class="challenge-contnet">
				<div class="row">
					<div class="col-lg-5">
						<div class="custom_tab_button   clearfix ul-li-block wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<ul id="tabs" class="nav text-uppercase nav-tabs">
								<li class="nav-item"><a href="#" data-target="#goal" data-toggle="tab" class="text-capitalize active">Mission & Vission</a></li>
								<li class="nav-item"><a href="#" data-target="#challenges" data-toggle="tab" class="text-capitalize">Our Challenges </a></li>
								<li class="nav-item"><a href="#" data-target="#technology" data-toggle="tab" class="text-capitalize">Technology</a></li>
								<li class="nav-item"><a href="#" data-target="#careers" data-toggle="tab" class="text-capitalize">Careers With Us</a></li>
								<li class="nav-item"><a href="#" data-target="#Work" data-toggle="tab" class="text-capitalize">How We Work</a></li>
							</ul>
						</div>
						<!-- /tab_button -->
					</div>
					<div class="col-lg-7">
						<div id="tabsContent" class="tab-content relative-position">
							<div id="goal" class="tab-pane fade active show">
								<div class="section-title title-style-one headline-1">
									<span class="site-tag">Our Challenges</span>
									<h2>Managed IT Services
										For Your Industry
									& Support.</h2>
								</div>
								<div class="challenge-tab-img relative-position">
									<div class="challeng-tab-details-img">
										<img src="{% static 'user/img/banner/chl1.jpg' %}" alt="">
									</div>
									<div class="challenge-tab-video text-center">
										<a class="video_box" href="https://www.youtube.com/watch?v=TdSA7gkVYU0"><i class="fas fa-play"></i></a>
									</div>
								</div>
							</div>
							<!-- tab-pane -->
							<div id="challenges" class="tab-pane fade">
								<div class="section-title title-style-one headline-1">
									<span class="site-tag">Our Challenges</span>
									<h2>Managed IT Services
										For Your Industry
									& Support.</h2>
								</div>
								<div class="challenge-tab-img relative-position">
									<div class="challeng-tab-details-img">
										<img src="{% static 'user/img/banner/chl1.jpg' %}" alt="">
									</div>
									<div class="challenge-tab-video text-center">
										<a class="video_box" href="https://www.youtube.com/watch?v=TdSA7gkVYU0"><i class="fas fa-play"></i></a>
									</div>
								</div>
							</div>
							<!-- tab-pane -->
							<div id="technology" class="tab-pane fade">
								<div class="section-title title-style-one headline-1">
									<span class="site-tag">Our Challenges</span>
									<h2>Managed IT Services
										For Your Industry
									& Support.</h2>
								</div>
								<div class="challenge-tab-img relative-position">
									<div class="challeng-tab-details-img">
										<img src="{% static 'user/img/banner/chl1.jpg' %}" alt="">
									</div>
									<div class="challenge-tab-video text-center">
										<a class="video_box" href="https://www.youtube.com/watch?v=TdSA7gkVYU0"><i class="fas fa-play"></i></a>
									</div>
								</div>
							</div>
							<!-- tab-pane -->
							<div id="careers" class="tab-pane fade">
								<div class="section-title title-style-one headline-1">
									<span class="site-tag">Our Challenges</span>
									<h2>Managed IT Services
										For Your Industry
									& Support.</h2>
								</div>
								<div class="challenge-tab-img relative-position">
									<div class="challeng-tab-details-img">
										<img src="{% static 'user/img/banner/chl1.jpg' %}" alt="">
									</div>
									<div class="challenge-tab-video text-center">
										<a class="video_box" href="https://www.youtube.com/watch?v=TdSA7gkVYU0"><i class="fas fa-play"></i></a>
									</div>
								</div>
							</div>
							<!-- tab-pane -->
							<div id="Work" class="tab-pane fade">
								<div class="section-title title-style-one headline-1">
									<span class="site-tag">Our Challenges</span>
									<h2>Managed IT Services
										For Your Industry
									& Support.</h2>
								</div>
								<div class="challenge-tab-img relative-position">
									<div class="challeng-tab-details-img">
										<img src="{% static 'user/img/banner/chl1.jpg' %}" alt="">
									</div>
									<div class="challenge-tab-video text-center">
										<a class="video_box" href="https://www.youtube.com/watch?v=TdSA7gkVYU0"><i class="fas fa-play"></i></a>
									</div>
								</div>
							</div>
							<!-- tab-pane -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="challenge-img-bg"><img src="{% static 'user/img/banner/chl3.jpg' %}" alt=""></div>
	</section>
<!-- End of challenge section
	============================================= -->

<!-- Start of newsLatter section
	============================================= -->
	<section id="newslatter" class="newslatter-section relative-position ">
		<div class="container">
			<div class="newslatter-content">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="section-title title-style-one headline-1">
							<span class="site-tag">Subcribe Now</span>
							<h2>Get Newsletter</h2>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="newslatter-form">
							<form action="#">
								<input class="email" name="email" type="email" placeholder="Enter your email address">
								<button class="hover-btn" type="submit" value="Submit"> Subscribe Now </button>
							</form>
						</div>
					</div>
				</div>
				<!-- /subscribe form -->
				<div class="newslatter-service">
					<div class="newslatter-service-item news-service-item1 pera-content wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="section-title title-style-one headline-1">
							<span class="site-tag">Get In Touch</span>
							<h2>We Have An
							IT Departments</h2>
						</div>
						<p>No matter the business, pure as has you cover
						with industry compliant solutions.</p>
						<div class="news-cntc-btn text-center">
							<a href="#">Contact Us Now <span></span></a>
						</div>
					</div>
					<div class="newslatter-service-item news-service-item2 relative-position text-center wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="section-title title-style-one headline-1">
							<span class="site-tag">Cyber Security</span>
							<h2>Info Backup &
							Recovery</h2>
						</div>
						<div class="news-service-icon">
							<img src="{% static 'user/img/banner/n-icon.png' %}" alt="">
						</div>
						<div class="news-icon-bg">
							<i class="flaticon-hosting"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of newsLatter section
	============================================= -->

<!-- Start of Blog section
	============================================= -->
	<section id="blog" class="blog-section">
		<div class="container">
			<div class="section-title text-center title-style-one headline-1">
				<span class="site-tag">Blog Feed</span>
				<h2>News & Insights</h2>
			</div>
			<div class="blog-content-1">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="blog-img-text blog-type1">
							<div class="blog-img">
								<img src="{% static 'user/img/blog/b1.jpg' %}" alt="">
							</div>
							<div class="blog-text headline-1 pera-content relative-position">
								<h3><a href="#">Prevent data loss with
								encrypted storage.</a></h3>
								<p>Data loss with encrypted storage &
									virtualized recovery, then enjoy your
								core level productivity.</p>
								<div class="blog-meta">
									<a href="#"><i class="far fa-user"></i> by Admin</a>
									<a href="#"><i class="far fa-calendar-alt"></i> 24th March 2020</a>
								</div>
							</div>
						</div>
						<div class="blog-img-text blog-type2 relative-position">
							<div class="blog-img">
								<img src="{% static 'user/img/blog/b2.jpg' %}" alt="">
							</div>
							<div class="blog-text headline-1">
								<h3><a href="#">Prevent data loss with
								encrypted storage.</a></h3>
								<div class="blog-meta">
									<a href="#"><i class="far fa-user"></i> by Admin</a>
									<a href="#"><i class="far fa-calendar-alt"></i> 24th March 2020</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="blog-img-text blog-type3 relative-position">
							<div class="blog-img">
								<img src="{% static 'user/img/blog/b3.jpg' %}" alt="">
							</div>
							<div class="blog-text headline-1 pera-content">
								<h3><a href="#">Prevent data loss with
								encrypted storage.</a></h3>
								<p>Data loss with encrypted storage &
									virtualized recovery, then enjoy your
								core level productivity.</p>
								<div class="blog-meta">
									<a href="#"><i class="far fa-user"></i> by Admin</a>
									<a href="#"><i class="far fa-calendar-alt"></i> 24th March 2020</a>
								</div>
							</div>
						</div>
						<div class="blog-img-text blog-type4 relative-position">
							<div class="blog-img">
								<img src="{% static 'user/img/blog/b4.jpg' %}" alt="">
							</div>
							<div class="blog-text headline-1 pera-content">
								<h3><a href="#">Prevent data loss with
								encrypted storage.</a></h3>
								<p>Data loss with encrypted storage &
									virtualized recovery, then enjoy your
								core level productivity.</p>
								<div class="blog-meta">
									<a href="#"><i class="far fa-user"></i> by Admin</a>
									<a href="#"><i class="far fa-calendar-alt"></i> 24th March 2020</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="blog-img-text blog-type4 relative-position">
							<div class="blog-img">
								<img src="{% static 'user/img/blog/b5.jpg' %}" alt="">
							</div>
							<div class="blog-text headline-1 pera-content">
								<h3><a href="#">Prevent data loss with
								encrypted storage.</a></h3>
								<p>Data loss with encrypted storage &
									virtualized recovery, then enjoy your
								core level productivity.</p>
								<div class="blog-meta">
									<a href="#"><i class="far fa-user"></i> by Admin</a>
									<a href="#"><i class="far fa-calendar-alt"></i> 24th March 2020</a>
								</div>
							</div>
						</div>
						<div class="blog-img-text blog-type3 relative-position">
							<div class="blog-img">
								<img src="{% static 'user/img/blog/b6.jpg' %}" alt="">
							</div>
							<div class="blog-text headline-1 pera-content">
								<h3><a href="#">Prevent data loss with
								encrypted storage.</a></h3>
								<p>Data loss with encrypted storage &
									virtualized recovery, then enjoy your
								core level productivity.</p>
								<div class="blog-meta">
									<a href="#"><i class="far fa-user"></i> by Admin</a>
									<a href="#"><i class="far fa-calendar-alt"></i> 24th March 2020</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- Start of Blog section
	============================================= -->


{% endblock %}
{% block extra_js %}
	<script src="{% static 'user/js/jquery.min.js' %}"></script>
	<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'user/js/popper.min.js' %}"></script>
	<script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'user/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'user/js/appear.js' %}"></script>
	<script src="{% static 'user/js/wow.min.js' %}"></script>
	<script src="{% static 'user/js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/parallax-scroll.js' %}"></script>
	<script src="{% static 'user/js/jquery.easeScroll.min.js' %}"></script>
	<script src="{% static 'user/js/jquery.counterup.min.js' %}"></script>
	<script src="{% static 'user/js/waypoints.min.js' %}"></script>
	<script src="{% static 'user/js/typer-new.js' %}"></script>
	<script src="{% static 'user/js/script.js' %}"></script>
	<script src="{% static 'user/js/gmap3.min.js' %}"></script>
{% endblock %}
