{% extends 'user_site/base.html' %}
{% load static %}
{% block title %}Our Services{% endblock %}

{% block content %}
	<section id="breadcurmb" class="breadcurmb-section position-relative" data-background="{% static 'user/img/banner/brbg.jpg' %}">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="breadcurmb-content headline-2">
				<h2>Our Services</h2>
				<div class="breadcrumb_item ul-li">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'api:index_1' %}">Home</a></li>
						<li class="breadcrumb-item active">Services</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section id="service" class="service-section">
		<div class="container">
			<div class="service-content">
				<div class="section-title title-style-one headline-1 text-center">
					<span class="site-tag">Services</span>
					<h2>What We Do Here</h2>
				</div>
				<div class="service-item-list">
					<div class="row">
						{% for service in services %}
						<div class="col-lg-3 col-md-6 wow fadeInLeft">
							<div class="service-icon-text relative-position">
								<div class="service-icon text-center">
									<i class="flaticon-compass"></i>
								</div>
								<div class="service-text headline-1 text-center pera-content relative-position">
									<h3>{{ service.title }}</h3>
									<p>{{ service.short_description|truncatewords:15|default:service.description|truncatewords:15 }}</p>
								</div>
								<div class="service-more text-center">
									<a href="{% url 'api:service_single' service.slug %}"><i class="flaticon-right-arrow"></i></a>
								</div>
							</div>
						</div>
						{% empty %}
						<div class="col-12 text-center py-5">
							<p>No services available at the moment. Check back soon!</p>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
