{% extends 'user_site/base.html' %}
{% load static %}
{% block title %}Team Details{% endblock %}
{% block content %}


<!-- Start of breadcurmb section
	============================================= -->
	<section id="breadcurmb" class="breadcurmb-section position-relative" data-background="{% static 'user/img/banner/brbg.jpg' %}">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="breadcurmb-content headline-2">
				<h2>Team Details</h2>
				<div class="breadcrumb_item ul-li">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Team Details</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- End of breadcurmb section
	============================================= -->

<!-- Start of team details section
	============================================= -->
	<section id="team-details" class="team-details-section">
		<div class="container">
			<div class="team-details-content">
				<div class="background_overlay"></div>
				<div class="row">
					<div class="col-lg-6">
						<div class="team-single-img">
							<img src="{% static 'user/img/team/td1.html' %}" alt="">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="team-single-text">
							<div class="section-title title-style-two headline-2 pera-content">
								<span class="site-tag">Founder</span>
								<h2>Hilix D. Browni</h2>
								<p>A highly skilled professional committed to delivering the best results.</p>
							</div>
							<div class="team-details-info">
								<div class="team-details-info-item">
									<div class="team-details-info-icon text-center float-left">
										<i class="fas fa-phone"></i>
									</div>
									<div class="team-details-info-text">
										<span>+91 9054100775</span>
									</div>
								</div>
								<div class="team-details-info-item">
									<div class="team-details-info-icon text-center float-left">
										<i class="fas fa-envelope"></i>
									</div>
									<div class="team-details-info-text">
										<span>desk@codecraften.com</span>
									</div>
								</div>
								<div class="team-details-info-item">
									<div class="team-details-info-icon text-center float-left">
										<i class="fas fa-map-marker-alt"></i>
									</div>
									<div class="team-details-info-text">
										<span>CodeCraften Headquarters</span>
									</div>
								</div>
								<div class="team-details-btn text-center">
									<a href="#">Message Me</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of team details section
	============================================= -->

<!-- Start of skill set section
	============================================= -->
	<section id="skill-set" class="skill-set-section service-page-skill">
		<div class="container">
			<div class="skill-set-section">
				<div class="row">
					<div class="col-lg-6">
						<div class="skill-set-text">
							<div class="section-title title-style-two headline-2">
								<span class="site-tag">Our Skillset</span>
								<h2>We Have Amaing
								Team Mates</h2>
								<h3 class="sub-text">Our vertical solutions expertise allows your business
								to streamline workflow.</h3>
							</div>
							<div class="skill-set-text">
								Our vertical solutions expertise allows your business to streamline
								workflow, and increase productivity. No matter the business, pure as
								has you covered with industry compliant solutions.
							</div>
							<div class="skill-set-progress">
								<div class="single_experties">
									<div class="progress_text">
										<div class="skill-title float-left text-capitalize">Quality check</div>
										<div class="skill-percent float-right">70%</div>
									</div>
									<div class="progress">
										<div class="progress-bar wow Rx-width-70 animated" role="progressbar" data-wow-duration="1.5s" data-wow-delay=".5s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
										</div>
									</div>
								</div>
								<div class="single_experties">
									<div class="progress_text">
										<div class="skill-title float-left text-capitalize">UIX Design</div>
										<div class="skill-percent float-right">42%</div>
									</div>
									<div class="progress">
										<div class="progress-bar wow Rx-width-42 animated" role="progressbar" data-wow-duration="1.5s" data-wow-delay=".5s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
										</div>
									</div>
								</div>
								<div class="single_experties">
									<div class="progress_text">
										<div class="skill-title float-left text-capitalize">Software Design</div>
										<div class="skill-percent float-right">91%</div>
									</div>
									<div class="progress">
										<div class="progress-bar wow Rx-width-91 animated" role="progressbar" data-wow-duration="1.5s" data-wow-delay=".5s" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="skill-set-img position-relative">
							<div class="skill-main-img">
								<img src="{% static 'user/img/feature/sk1.html' %}" alt="">
							</div>
							<div class="skill-updown-img1">
								<img src="{% static 'user/img/feature/sks1.html' %}" alt="">
							</div>
							<div class="skill-updown-img2">
								<img src="{% static 'user/img/feature/sks2.html' %}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of skill set section
	============================================= -->

<!-- Start of portfolio section
	============================================= -->
	<section id="portfolio-2" class="portfolio-section-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="section-title title-style-two headline-2">
						<span class="site-tag">Portfolio</span>
						<h2>Great Case Study</h2>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="section-title-text">
						Our vertical solutions expertise allows your business to streamline
						workflow, and increase productivity. No matter the business, pure as
						has you covered with industry compliant solutions.
					</div>
				</div>
			</div>
		</div>
		<div id="portfolio-slide" class="portfolio-slide-area owl-carousel">
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr1.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr2.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr3.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr4.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr5.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr1.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr2.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr3.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-1">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr4.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-1">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr5.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-1">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
		</div>
	</section>
<!-- End of Platform section
	============================================= -->	

<!-- Start of get in touch section
	============================================= -->
	<section id="get-touch" class="get-touch-section team-page-get-touch team-details-page-get-touch">
		<div class="container">
			<div class="get-touch-content position-relative">
				<div class="get-touch-part get-touch-one text-center headline-2">
					<span>Get In Touch</span>
					<h2>Web Developers Looking
					For Web Projects?</h2>
				</div>
				<div class="get-touch-part get-touch-two text-center headline-2">
					<span>Estimate Planning</span>
					<h2>If You Have Project
					Let Us Know.</h2>
				</div>
				<div class="get-touch-icon1"><img src="{% static 'user/img/shape/gt2.html' %}" alt=""></div>
				<div class="get-touch-icon2"><img src="{% static 'user/img/shape/gt1.html' %}" alt=""></div>
				<div class="icon-bg2 position-absolute"><i class="flaticon-lamp"></i></div>
			</div>
		</div>
	</section>
<!-- End of Get in touch section
	============================================= -->


{% endblock %}
{% block extra_js %}
	<script src="{% static 'user/js/jquery.min.js' %}"></script>
	<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'user/js/popper.min.js' %}"></script>
	<script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'user/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'user/js/appear.js' %}"></script>
	<script src="{% static 'user/js/wow.min.js' %}"></script>
	<script src="{% static 'user/js/parallax-scroll.js' %}"></script>
	<script src="{% static 'user/js/circle-progress.js' %}"></script>
	<script src="{% static 'user/js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/jquery.easeScroll.min.js' %}"></script>
	<script src="{% static 'user/js/typer-new.js' %}"></script>
	<script src="{% static 'user/js/script.js' %}"></script>
	<script src="{% static 'user/js/gmap3.min.js' %}"></script>
{% endblock %}
