{% extends 'user_site/base.html' %}
{% load static %}
{% block title %}Team{% endblock %}
{% block content %}


<!-- Start of breadcurmb section
	============================================= -->
	<section id="breadcurmb" class="breadcurmb-section position-relative" data-background="{% static 'user/img/banner/brbg.jpg' %}">
		<div class="background_overlay"></div>
		<div class="container">
			<div class="breadcurmb-content headline-2">
				<h2>Our Team</h2>
				<div class="breadcrumb_item ul-li">
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Team</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
<!-- End of breadcurmb section
	============================================= -->

<!-- Start of team page member section
	============================================= -->
	<section id="team-page-member" class="member-section-3 team-page-member-section">
		<div class="container">
			<div class="team-page-member-content team-member-3">
				<div class="row">
					<div class="col-lg-4">
						<div class="team-img-text">
							<div class="team-img">
								<img src="{% static 'user/img/team/tpm1.html' %}" alt="">
							</div>
							<div class="team-text headline-2 ul-li">
								<span class="t-degi">Founder</span>
								<h3>Miranda. H. Halim</h3>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
									<li><a href="#"><i class="fab fa-behance"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								</ul>
								<div class="team-icon text-center">
									<i class="flaticon-compass"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="team-img-text">
							<div class="team-img">
								<img src="{% static 'user/img/team/tpm2.html' %}" alt="">
							</div>
							<div class="team-text headline-2 ul-li">
								<span class="t-degi">CEO</span>
								<h3>Dambole  Yankee</h3>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
									<li><a href="#"><i class="fab fa-behance"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								</ul>
								<div class="team-icon text-center">
									<i class="flaticon-compass"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="team-img-text">
							<div class="team-img">
								<img src="{% static 'user/img/team/tpm3.html' %}" alt="">
							</div>
							<div class="team-text headline-2 ul-li">
								<span class="t-degi">Developer</span>
								<h3>Keliam K. Kilixer</h3>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
									<li><a href="#"><i class="fab fa-behance"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								</ul>
								<div class="team-icon text-center">
									<i class="flaticon-compass"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="team-img-text">
							<div class="team-img">
								<img src="{% static 'user/img/team/tpm4.html' %}" alt="">
							</div>
							<div class="team-text headline-2 ul-li">
								<span class="t-degi">Monitor</span>
								<h3>Limbo Lemborgin</h3>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
									<li><a href="#"><i class="fab fa-behance"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								</ul>
								<div class="team-icon text-center">
									<i class="flaticon-compass"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="team-img-text">
							<div class="team-img">
								<img src="{% static 'user/img/team/tpm1.html' %}" alt="">
							</div>
							<div class="team-text headline-2 ul-li">
								<span class="t-degi">Developer</span>
								<h3>Martuk K. Khimil</h3>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
									<li><a href="#"><i class="fab fa-behance"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								</ul>
								<div class="team-icon text-center">
									<i class="flaticon-compass"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="team-img-text">
							<div class="team-img">
								<img src="{% static 'user/img/team/tpm1.html' %}" alt="">
							</div>
							<div class="team-text headline-2 ul-li">
								<span class="t-degi">Founder</span>
								<h3>Miranda. H. Halim</h3>
								<ul>
									<li><a href="#"><i class="fab fa-facebook-f "></i></a></li>
									<li><a href="#"><i class="fab fa-behance"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								</ul>
								<div class="team-icon text-center">
									<i class="flaticon-compass"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End of team page member section
	============================================= -->

<!-- Start of get in touch section
	============================================= -->
	<section id="get-touch" class="get-touch-section team-page-get-touch">
		<div class="container">
			<div class="get-touch-content position-relative">
				<div class="get-touch-part get-touch-one text-center headline-2">
					<span>Get In Touch</span>
					<h2>Web Developers Looking
					For Web Projects?</h2>
				</div>
				<div class="get-touch-part get-touch-two text-center headline-2">
					<span>Estimate Planning</span>
					<h2>If You Have Project
					Let Us Know.</h2>
				</div>
				<div class="get-touch-icon1"><img src="{% static 'user/img/shape/gt2.html' %}" alt=""></div>
				<div class="get-touch-icon2"><img src="{% static 'user/img/shape/gt1.html' %}" alt=""></div>
				<div class="icon-bg2 position-absolute"><i class="flaticon-lamp"></i></div>
			</div>
		</div>
	</section>
<!-- End of Get in touch section
	============================================= -->

<!-- Start of portfolio section
	============================================= -->
	<section id="portfolio-2" class="portfolio-section-2">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="section-title title-style-two headline-2">
						<span class="site-tag">Portfolio</span>
						<h2>Great Case Study</h2>
					</div>
				</div>
				<div class="col-md-6">
					<div class="section-title-text">
						Our vertical solutions expertise allows your business to streamline
						workflow, and increase productivity. No matter the business, pure as
						has you covered with industry compliant solutions.
					</div>
				</div>
			</div>
		</div>
		<div id="portfolio-slide" class="portfolio-slide-area owl-carousel">
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr1.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr2.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr3.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr4.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr5.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr1.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr2.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-2">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr3.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-1">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr4.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-1">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
			<div class="portfolio-img-text">
				<div class="portfolio-img relative-position">
					<img src="{% static 'user/img/portfolio/pbr5.html' %}" alt="">
					<div class="p-shape portfolio-pattern1"><img src="{% static 'user/img/portfolio/pbshape1.html' %}" alt=""></div>
					<div class="p-shape portfolio-pattern2"><img src="{% static 'user/img/portfolio/pbshape2.html' %}" alt=""></div>
				</div>
				<div class="portfolio-text relative-position headline-1">
					<div class="portfolio-favicon text-center">
						<img src="{% static 'user/img/portfolio/fvi1.png' %}" alt="">
					</div>
					<span class="portfolio-tag">UXI Design</span>
					<h3><a href="#">Power Secutiry Panel</a></h3>
				</div>
			</div>
		</div>
	</section>
<!-- End of Platform section
	============================================= -->				


{% endblock %}
{% block extra_js %}
	<script src="{% static 'user/js/jquery.min.js' %}"></script>
	<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'user/js/popper.min.js' %}"></script>
	<script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'user/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'user/js/appear.js' %}"></script>
	<script src="{% static 'user/js/wow.min.js' %}"></script>
	<script src="{% static 'user/js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'user/js/parallax-scroll.js' %}"></script>
	<script src="{% static 'user/js/jquery.easeScroll.min.js' %}"></script>
	<script src="{% static 'user/js/typer-new.js' %}"></script>
	<script src="{% static 'user/js/script.js' %}"></script>
	<script src="{% static 'user/js/gmap3.min.js' %}"></script>
{% endblock %}
